<template>
<el-col :span="6">
<label class="el-form-item__label">Cidade</label><br>
  <el-select
    v-model="selected"
	value-key="id"
    :remote-method="remoteMethod"
    :loading="loading"
    filterable
	clearable
    remote
    reserve-keyword
    placeholder="Buscar Cidade"
    @change="$emit('change', selected)"
  >
    <el-option
      v-for="item in results"
      :key="item.id"
      :label="item.descricao"
      :value="item"
    />
  </el-select>
  </el-col>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import _ from 'lodash'

export default {
  props: ['query'],
  data() {
    return {
      selected: {},
      results: []
    }
  },
  watch: {
	  'query': function(nome) {
		  this.search({ nome }).then((results) => {
			  this.results = results
			  this.selected = this.results[0]
        // console.log(results)
        // console.log(this.selected)
		  })
	  }
  },
  computed: {
    ...mapGetters({
      loading: 'cidade/loading'
    })
  },
  methods: {
    ...mapActions({
      search: 'cidade/search'
    }),
    remoteMethod(nome) {
        _.debounce(
			this.search({ nome }).then((results) => { this.results = results; }),
		500)
    }
  }
}
</script>

