<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <!-- <sticky class-name="sub-navbar draft"> -->
      <!-- </sticky> -->

      <div class="createPost-main-container">
        <!-- <el-row :gutter="24">
          <el-col :span="24">
            <el-form-item label="Id" prop="id">
              <el-input v-model="item.id" placeholder="ID"/>
            </el-form-item>
          </el-col>
        </el-row> -->
        <el-row :gutter="24">
          <el-col :span="4">
            <el-form-item label="Estado" prop="estado_uf">
              <el-select v-model="item.estado_uf" placeholder="Selecionar" filterable>
                <el-option
                  v-for="estado in estados"
                  :key="estado.uf"
                  :label="estado.nome"
                  :value="estado.uf"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="Nome da Cidade" prop="nome">
              <el-input v-model="item.nome" placeholder="Ex.: Curitiba" maxlength="50" minlength="1"/>
            </el-form-item>
          </el-col>
        </el-row>
		<el-row :gutter="24">
			<el-col>
				<el-button plain type="danger" @click="$router.go(-1)">Cancelar</el-button>
				<el-button
				v-loading="loading"
				style="margin-left: 10px;"
				type="success"
				@click="submit"
        :disabled="!item.nome.length || !item.estado_uf"> Salvar
				</el-button>
			</el-col>
		</el-row>
      </div>
    </el-form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'

const MODULE_NAME = 'cidade'
const crudStore = crudHelper(MODULE_NAME)

export default {
  name: 'Detail',
  data: () => ({
    MODULE_NAME,
    item: {
      nome: '',
      estado_uf: ''
    },
    rules: {
      nome: [
        { required: true, message: 'Campo obrigatório.', trigger: 'blur' }
      ],
      estado_uf: [
        { required: true, message: 'Campo obrigatório.' }
      ]
    }
  }),
  computed: {
    ...crudStore.computed,
    ...mapGetters({
      estados: `uf/items`
    })
  },
  created() {
    this.findEstados()
    if (this.$route.params.id) {
      const id = this.$route.params.id
      this.select({ id })
        .then((item) => Object.assign(this.item, item.data))
        .catch(alert)
    }
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapActions({
      findEstados: `uf/find`
    })
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import '~@/styles/mixin.scss';
@import '~@/styles/detail.scss';
</style>
