<template>
  <div>
    <el-row type="flex">
      <el-col :span="3">
        <el-button
          class="filter-item"
          style="margin-left: 0px; margin-bottom: 20px;"
          type="success"
          icon="el-icon-edit"
          @click="$router.push(`new`)"> Novo
        </el-button>
      </el-col>
      <el-col :span="1"></el-col>
      <el-col :span="5">
        <export-excel
          :data   = "items"
          :fields = "{'ID':'id','Cidade':'nome','UF':'estado_uf','Criado em':'created_at','Atualizado em':'updated_at','ID_Região':'regiao_id'}"
          :name = excelPage>
          <el-button
            type="warning"
            :disabled = "!items.length"
            v-loading="loading"
            plain
            icon="el-icon-download"
            size="default">EXCEL - PÁGINA
          </el-button>
        </export-excel>
      </el-col>
      <el-col :span="1"></el-col>
      <el-col :span="3">
        <export-excel
          :data = "cidades"
          :fields = "{'ID':'id','Cidade':'nome','UF':'estado_uf','Criado em':'created_at','Atualizado em':'updated_at','ID_Região':'regiao_id','Região':'regiao_nome'}"
          :before-generate = regiaoIdToNomeXLS()
          :name = excelAll>
          <el-button
            type="warning"
            v-loading="loadingXLS"
            plain
            icon="el-icon-download"
            size="default">EXCEL - TUDO
          </el-button>
        </export-excel>
      </el-col>
    </el-row>
    <el-row :gutter="24">
	  <el-col :span="8">
      <el-input
        v-model="query"
        placeholder="Pesquisar por cidade"
        class="filter-item"
        @input="debouncedSearch"
      />
	  </el-col>
	  <el-col :span="6">
      <el-button
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleSearch"
      >Pesquisar</el-button>
	  </el-col>
    </el-row>
    <h3> Exibindo de {{ from ? from : 0 }} a {{ to ? to : 0 }} do total de {{ total }}</h3>
    <el-pagination
      :disabled="loading"
      :current-page="page"
      :page-size="15"
      :pager-count="11"
      :total="total"
      layout="prev, pager, next"
      @current-change="handlePageChange"/>
    <el-table
      v-loading="loading"
      :data="items"
      border
      fit
      highlight-current-row
      style="width: 100%;"
    >
      <el-table-column
        v-for="field in fields"
        :key="field.slug"
        :label="field.label"
        :prop="field.slug"
        sortable
        align="center"
      >
        <template slot-scope="scope">
          <span>{{ scope.row[field.slug] }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="Ações"
        align="center"
        width="200"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            type="primary"
            size="mini"
            @click="handleUpdate(scope.row)"
          >editar</el-button>
          <el-button
            size="mini"
            plain type="danger"
            @click="handleDeletePaginated(scope.row, 'Cidade')"
          >remover</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      :disabled="loading"
      :current-page="page"
      :page-size="15"
      :pager-count="11"
      :total="total"
      layout="prev, pager, next"
      @current-change="handlePageChange"/>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'
import _ from 'lodash'

const MODULE_NAME = 'cidade'
const crudStore = crudHelper(MODULE_NAME)
const excelPage = ''
const excelAll = ''

export default {
  props: ['fields'],
  data() {
    return {
      page: 1,
      query: ''
    }
  },
  computed: {
    ...crudStore.computed,
    ...mapGetters({
      cidades: 'cidade/cidades',
      regioes: `regiao/items`,
    })
  },
  created() {
    this.findPaginated({ page: this.page })
    this.findCidades()
    this.findRegioes()
    this.excelPage = 'cidades-page-' + new Date().getTime() + '.xls'
    this.excelAll = 'cidades-all-' + new Date().getTime() + '.xls'
    // this.find()
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapActions({
      findRegioes: `regiao/find`,
      findCidades: `cidade/findUnpaginatedCidade`
    }),
    handlePageChange(page) {
      this.page = page
      this.findPaginated({ page, name: '%' + this.query.replace(/\s/g, '%') + '%' })
    },
    debouncedSearch() {
      _.debounce(this.handleSearch(), 1000)
    },
    handleSearch() {
      this.page = 1
      this.findPaginated({ page: 1, name: '%' + this.query.replace(/\s/g, '%') + '%' })
    },
    regiaoIdToNomeXLS(){
       if(this.cidades.length && this.regioes.length){
        for(var i=0; i<this.cidades.length; i++){
          this.cidades[i].regiao_nome = this.regioes.find(regiao => this.cidades[i].regiao_id==regiao.id) ? this.regioes.find(regiao => this.cidades[i].regiao_id==regiao.id).nome : ''
        }
      }
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import '~@/styles/list-table.scss';
</style>
