<template>
  <div class="app-container">
    <h3> {{ $route.meta.title }} </h3>
    <list-table :fields="[
  {
    label: 'Área',
    slug: 'descricao'
  },
  {
    label: 'Status',
    slug: 'status'
  },
  {
    label: 'Criado em',
    slug: 'created_at'
  }
]"/>
  </div>
</template>

<script>
import ListTable from '../components/ListTable.vue'

export default {
  components: { ListTable }
}
</script>

