<template>
  <div class="app-container">
    <h3>{{ $route.meta.title }}</h3>
    <list-table
      :fields="[
 {
    label: 'Curso',
    slug: 'descricao'
  },
   {
    label: 'Área / Segmento',
    slug: 'area_id'
  },
  {
    label: 'Válido a partir de:',
    slug: 'dataVigenciaInicial'
  },
  {
    label: 'Válido até:',
    slug: 'dateVigenciaFinal'
  }
]"
    />
  </div>
</template>

<script>
import ListTable from '../components/ListTable.vue'

export default {
  components: { ListTable }
}
</script>
