<template>
  <div class="app-container">
    <h3>{{ $route.meta.title }}</h3>
    <list-table

      :fields="fields"

    />


  </div>
</template>

<script>

    // :fields="['id', 'nome', 'cnpjCpf', 'cep', 'logradouro', 'numero', 'bairro',
    //   'complemento', 'tipoPessoa', 'password', 'cidade_id']"

import ListTable from '../components/ListTable.vue'

export default {
  components: { ListTable },
  data() {
	  return {
		fields: [
		// {
        //   label: 'Tipo',
        //   slug: 'tipoPessoa'
        // },
        {
          label: 'Nome',
          slug: 'nome'
        },
        // {
        //   label: 'CPF/CNPJ',
        //   slug: 'cnpjCpf'
        // },
        // {
        //   label: 'Cidade',
        //   slug: 'cidade_id'
        // },
        // {
        //   label: 'Bairro',
        //   slug: 'bairro'
        // },
        // {
        //   label: 'Endereço',
        //   slug: 'logradouro'
        // },
        // {
        //   label: 'Nº',
        //   slug: 'numero'
        // },
        // {
        //   label: 'Comp.',
        //   slug: 'complemento'
        // }
        ]
	  }
  }
}
</script>
