<template>
  <div class="app-container">
    <h3> {{ $route.meta.title }} </h3>
    <detail-industria/>
  </div>
</template>

<script>
import DetailIndustria from '../components/DetailIndustria.vue'
export default {
  components: { DetailIndustria }
}
</script>
