<template>
  <div class="navbar">
    <!-- <hamburger :toggle-click="toggleSideBar" :is-active="sidebar.opened" class="hamburger-container"/> -->
    <breadcrumb />
	<div class="userInfoContainer"><p>{{nome}}</p><p>{{cargo}}</p></div>
    <el-dropdown class="avatar-container" trigger="click">
        <div class="avatar-wrapper">
          <img :src="avatar" class="user-avatar">
          <i class="el-icon-caret-bottom" />
        </div>
      <el-dropdown-menu slot="dropdown" class="user-dropdown">
        <!-- <router-link class="inlineBlock" to="/">
        </router-link> -->
        <el-dropdown-item>
          <span style="display:block;" @click="$router.push('../pessoa/' + id)">Perfil</span>
        </el-dropdown-item>
        <!-- <el-dropdown-item>
          <span style="display:block;" @click="$router.push('../pessoa/'+idPessoa)">Perfil</span>
        </el-dropdown-item> -->
        <el-dropdown-item>
          <span style="display:block;" @click="logout">Sair</span>
        </el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Breadcrumb from '@/components/Breadcrumb'
import Hamburger from '@/components/Hamburger'
import store from '@/store'
import { getId, getName, getToken}  from '@/utils/auth'

const id = '';
const nome = '';
const cargo = '';
export default {
  components: {
    Breadcrumb,
    Hamburger
  },
  computed: {
    ...mapGetters([
      'sidebar',
      'avatar',
    ]),
    // role(){
    //   return localStorage.getItem('role')
    // },
    // username() {
    //   return localStorage.getItem('username')
    // }
  },
  created() {
    this.id = getId()
    this.nome = getName()
    this.cargo = getToken()
    this.cargo = this.cargo === 'admin-token' ? 'Administrador' : this.cargo === 'manager-token' ? 'Coordenador' : 'Vendedor'
  },
  methods: {
    toggleSideBar() {
      this.$store.dispatch('ToggleSideBar')
    },
    logout() {
      this.$store.dispatch('LogOut').then(() => {
      location.reload() // 为了重新实例化vue-router对象 避免bug
    })},
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import '../../../styles/variables';
.navbar {
  // background-color: red;
  display: flex;
  height: 50px;
  line-height: 50px;
  .hamburger-container {
    line-height: 58px;
    height: 50px;
    float: left;
    padding: 0 10px;
  }
  .userInfoContainer {
	  display: inline-flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    justify-content: center;
    padding-right: 30px;
    width: 80%;
	  max-height: 50px;
  }

  .userInfoContainer p {
	  cursor: default;
	  pointer-events: none;
	  color: $--color-text-light-2;
	  margin: 0;
	  max-height: 25px;
	  font-size: 11px;
	  line-height: 11px;
	  text-transform: capitalize;
	  margin-bottom: .2rem;
	  margin-top: 0;
	  &:first-child {
		  font-size: 13px;
		  line-height: 13px;
		  font-weight: bolder;
      text-transform: capitalize;
		  margin-top: .4rem;
		  margin-bottom: .1rem;
	  }
  }

  .screenfull {
    position: absolute;
    right: 90px;
    top: 16px;
    color: red;
  }
  // .avatar-container {
  //   height: 50px;
  //   display: inline-flex;
  //   align-items: center;
  //   justify-content: center;
  //   position: absolute;
  //   right: 35px;
  //   .avatar-wrapper {
  //     cursor: pointer;
  //     margin-top: 0;
  //     position: relative;
  //     line-height: initial;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     width: 30px;
  //     height: 30px;
  //     border-radius: 100%;
	//     background-color: $--background-light;
  //     .user-avatar {
  //       object-fit: cover;
  //       height: 100%;
  //       width: 100%;
  //     }
  //   .el-icon-caret-bottom {
  //     position: absolute;
  //     display: none;
  //   }
  //   }
  // }
  .avatar-container {
    margin-right: 30px;
    .avatar-wrapper {
      margin-top: 5px;
      position: relative;
      .user-avatar {
        cursor: pointer;
        width: 40px;
        height: 40px;
        border-radius: 10px;
      }
      .el-icon-caret-bottom {
        cursor: pointer;
        position: absolute;
        right: -20px;
        top: 25px;
        font-size: 12px;
      }
    }
  }
}
</style>

