<template>
  <!-- TIPOPESSOA
  1 - Indústria
  2 - Vendedor
  3 - Coordenador
  4 - Colaborador??
  9 - Admin -->
  <div class="createPost-container">
    <el-form ref="dataForm" :model="this" :rules="rules" label-position="top">
      <!-- <sticky class-name="sub-navbar draft"> -->
      <!-- </sticky> -->
      <div class="createPost-main-container">
        <!-- INDUSTRIA -->
        <el-row :gutter="24">
          <el-col :span="6" :hidden="token != 'admin-token'">
            <el-form-item label="Tipo Pessoa" prop="tipoPessoa">
              <el-select :disabled="$router.currentRoute.name == 'pessoa_edit'" v-model="person.tipoPessoa" placeholder="Selecionar" clearable @change="$refs['dataForm'].clearValidate()">
                <el-option label="Vendedor" value="2" :hidden="token != 'admin-token'"/>
                <el-option label="Coordenador" value="3" :hidden="token != 'admin-token'"/>
                <el-option :hidden="true" label="ADMIN" value="9"/>
              </el-select>
            </el-form-item>
          </el-col>
        <!-- VENDEDOR -->
          <el-col v-if="person.tipoPessoa === '2'" :span="6">
            <el-form-item label="Vigência Inicial" prop="dataVigenciaInicial">
              <el-date-picker v-model="vendor.dataVigenciaInicial" format="dd/MM/yyyy"/>
            </el-form-item>
          </el-col>
          <el-col v-if="person.tipoPessoa === '2'" :span="6">
            <el-form-item label="Vigência Final" prop="dataVigenciaFinal">
              <el-date-picker v-model="vendor.dataVigenciaFinal" format="dd/MM/yyyy" />
            </el-form-item>
          </el-col>
          <el-col v-show="person.tipoPessoa === '2'" :span="6">
            <el-form-item label="Coordenador" prop="pessoa_id">
              <el-select v-model="coordenadorVendedor.coord_id" id="coordenadorVendedor" placeholder="Selecione" filterable clearable>
                <el-option
                  v-for="item in coordenadores"
                  :key="item.pessoa_id"
                  :label="item.nome"
                  :value="item.pessoa_id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        <!-- FIM VENDEDOR -->
        <!-- COORDENADOR -->
          <el-col v-if="person.tipoPessoa === '3'" :span="6">
            <el-form-item label="Data de Vigência Inicial" prop="dataVigenciaInicial">
              <el-date-picker v-model="coordenador.dataVigenciaInicial" format="dd/MM/yyyy" />
            </el-form-item>
          </el-col>
          <el-col v-if="person.tipoPessoa === '3'" :span="6">
            <el-form-item label="Data de Vigência Final" prop="dataVigenciaFinal">
              <el-date-picker v-model="coordenador.dataVigenciaFinal" format="dd/MM/yyyy" />
            </el-form-item>
          </el-col>
        </el-row>
        <!-- FIM COORDENADOR -->
        <el-row :gutter="24">
          <el-col :span="6">
            <el-form-item label="Nome" prop="nome">
              <el-input v-model="person.nome" placeholder="Nome Completo" minlength="10" maxlength="255"/>
            </el-form-item>
          </el-col>
          <el-col :span="2" class="line"/>
          <el-col :span="6">
            <el-form-item :label="person.tipoPessoa == '1' ? 'CNPJ' : 'CPF'" prop="cnpjCpf">
                <div class="el-input">
                  <the-mask class="el-input__inner" v-model="person.cnpjCpf" :mask="person.tipoPessoa == '1' ? '##.###.###/####-##' : '###.###.###-##'" :placeholder=" person.tipoPessoa == '1' ? 'Ex.: 10.456.634/0001-09' : 'Ex.: 080.943.765-46'" inputmode="numeric" pattern="[0-9\.\-\/]*"/>
                </div>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="Contato" prop="nome">
              <el-input v-model="contact.nome" placeholder="Contato"/>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="Telefone" prop="telefone">
              <the-mask class="el-input__inner" v-model="contact.fone" placeholder="Telefone" mask="(##) #####-####"/>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="Email" prop="email">
              <el-input v-model="contact.email" placeholder="Email" maxlength="255" minlength="7"/>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="24">
          <el-col :span="6">
           <el-form-item label="CEP" prop="cep">
              <div class="el-input">
                <the-mask class="el-input__inner" id="CEP" v-model="person.cep" mask="#####-###" placeholder="Digite o CEP" inputmode="numeric" pattern="[0-9\.\-\/]*" @input.native.capture="consultaCEP()"/>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="Logradouro" prop="logradouro">
              <el-input v-model="person.logradouro" placeholder="Logradouro" maxlength="255" minlength="1"/>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <CidadeSearch :query.sync="cidadeQuery" @change="handleCidadeChange" style="width: 200%"/>
          </el-col>
        </el-row>
        <el-row :gutter="24">
		      <el-col :span="6" >
            <el-form-item label="Bairro" prop="bairro">
              <el-input v-model="person.bairro" placeholder="Ex.: Alto da XV" maxlength="60" minlength="1"/>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="Número" prop="numero">
              <el-input v-model="person.numero" id="numeroEndereco" placeholder="Nº" maxlength="15"/>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="Complemento" prop="complemento">
              <el-input v-model="person.complemento" placeholder="Ex.: Apto 3" maxlength="20"/>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="24">
          <el-col :span="6">
            <el-form-item label="Senha para acesso" prop="password">
              <el-input v-model="person.password" :prefix-icon="pwdType === 'password' ? 'el-icon-lock' : 'el-icon-unlock'" :type="pwdType" placeholder="Mín. de 6 dígitos" maxlength="60" minlength="6"/>
              <span class="pwd" :class="pwdType === 'password' ? 'not-visible' : 'visible'" @click="showPwd">
                <svg-icon :icon-class="pwdType === 'password' ? 'eye' : 'eye-open'" />
              </span>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="24">
          <el-col>
            <el-button plain type="danger" @click="confirmCancel">Cancelar</el-button>
            <el-button
            v-loading="loading"
            style="margin-left: 10px;"
            type="success"
            :disabled="!person.tipoPessoa || (person.tipoPessoa == 1 ? !industry.nomeFantasia : null)|| (person.tipoPessoa == 1 ? !industry.status : null)|| (person.tipoPessoa == 1 ? !industry.numeroFuncionarios : null)|| (person.tipoPessoa == 1 ? !vendedorIndustria.vendedor_pessoa_id : null) || (person.tipoPessoa == 2 ? !vendor.dataVigenciaInicial : null)|| (person.tipoPessoa == 2 ? !vendor.dataVigenciaFinal : null)|| (person.tipoPessoa == 2 ? !coordenadorVendedor.coord_id : null)|| (person.tipoPessoa == 3 ? !coordenador.dataVigenciaInicial : null)|| (person.tipoPessoa == 3 ? !coordenador.dataVigenciaFinal : null)|| !person.nome || !person.cnpjCpf|| !contact.nome || !contact.fone || !contact.email || !person.cep || !person.logradouro || !person.bairro || !person.numero || !person.complemento || !person.password"
            @click="handleSubmit()"> Salvar
            </el-button>
          </el-col>
        </el-row>
        <!-- <el-col :span="12" class="btn-block">
          <div class="btn-block__inner">
            <el-button plain type="danger" @click="$router.go(-1)">Cancelar</el-button>
            <el-button
            v-loading="loading"
            style="margin-left: 10px;"
            type="success"
            @click="handleSubmit()"
            >Salvar</el-button>
          </div>
        </el-col> -->
      </div>
    </el-form>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex'
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'
import CidadeSearch from '@/modules/cidade/components/CidadeSearch'
import store from '@/store'
import { getToken, getId, getName, setName } from '@/utils/auth'
import { reloadRouter } from '@/router'

import axios from 'axios'
import {TheMask} from 'vue-the-mask'

const MODULE_NAME = 'pessoa'
const crudStore = crudHelper(MODULE_NAME)
var token = ''
var nome = ''
const idOwner = ''
const idEdit = ''

export default {
  name: 'Detail',
  components: {TheMask, CidadeSearch},
  data: () => ({
    MODULE_NAME,
    person: {
      nome: '',
      cnpjCpf: '',
      cep: '',
      logradouro: '',
      numero: '',
      bairro: '',
      complemento: '',
      tipoPessoa: '',
      password: '',
      cidade_id: '',
    },
    estado_UF: '',
    cidadeQuery: '',
    industry: {
      nomeFantasia: '',
      status: '',
      numeroFuncionarios: 1
    },
    contact: {
      nome: '',
      email: '',
      fone: ''
    },
    vendor: {
      pessoa_id: '',
      dataVigenciaInicial: '',
      dataVigenciaFinal: ''
    },
    vendedorIndustria:{
      vendedor_pessoa_id: '',
      industria_pessoa_id: '',
      dataVigenciaIncial: '',
      dataVigenciaFinal: '',
    },
    coordenadorVendedor:{
      coord_id: '',
      vendedor_id: '',
      dataVigenciaInicial: '',
      dataVigenciaFinal: ''
    },
    coordenador: {
      pessoa_id: '',
      dataVigenciaInicial: '',
      dataVigenciaFinal: ''
    },
    // rulesPessoa: {
    //   tipoPessoa: [{ required: true, message: 'Campo obrigatório.', trigger: 'blur' }],
    //   nome: [{ required: true, message: 'Campo obrigatório.', trigger: 'blur' }],
    //   cnpjCpf: [{ required: true, message: 'Campo obrigatório.', trigger: 'blur' }],
    //   email: [{ required: true, message: 'Campo obrigatório.', trigger: 'blur' }],
    //   cep: [{ required: true, message: 'Campo obrigatório.', trigger: 'blur' }],
    //   numero: [{ required: true, message: 'Campo obrigatório.', trigger: 'blur' }],
    // },
  	// rulesIndustria: {
    //   nomeFantasia: [{ required: true, message: 'Campo obrigatório.', trigger: 'blur' }],
    //   status: [{ required: true, message: 'Campo obrigatório.', trigger: 'blur' }],
    //   numeroFuncionarios: [{ required: true, message: 'Campo obrigatório.', trigger: 'blur' }]
    // },
    // rulesCoordenador: {
    //   dataVigenciaInicial: [{ required: true, message: 'Campo obrigatório.', trigger: 'blur' }],
    //   dataVigenciaFinal: [{ required: true, message: 'Campo obrigatório.', trigger: 'blur' }]
    // },
    pwdType: 'password',
  }),
  computed: {
    ...crudStore.computed,
    ...mapGetters({
      cidades: `cidade/items`,
      coordenadores: 'pessoa/coordenadores',
      vendedores: 'pessoa/vendedores',
    }),
    coordenadorGetSet: {
      get() {
        return this.coordenador
      },
      set(coordenador) {
        this.setCoordenador(coordenador)
      }
    },
    // rules() {
    //   if (this.person.tipoPessoa === '1') {
    //   	return {
    //   	...this.rulesPessoa,
    //     ...this.rulesIndustria
    //   	}
    //   } else if (this.person.tipoPessoa === '2') {
    //   	return {
    //   	...this.rulesPessoa,
    //   	...this.rulesVendedor
    //   	}
    //   } else {
    //   	return {
    //   	...this.rulesPessoa,
    //   	...this.rulesCoordenador
    //   	}
    //   }
    // }
  },
  created() {
    this.token = getToken()
    this.nome = getName()
    this.idOwner = getId()
    if (this.$route.params.id) {
      this.idEdit = this.$route.params.id
      const id = this.idEdit
      this.select( {id} )
        .then((response) => {
        Object.assign(this.person, response.data.person)
        Object.assign(this.industry, response.data.industry)
        Object.assign(this.contact, response.data.contact)
        Object.assign(this.vendor, response.data.vendedor)
        Object.assign(this.vendedorIndustria, response.data.vendedorIndustria)
        Object.assign(this.coordenadorVendedor, response.data.coordenadorVendedor)
        Object.assign(this.coordenador, response.data.coordenador)
      }).catch(alert)
    }
    this.token != 'vendor-token' ? this.findCoordenadores() : this.vendedorIndustria.vendedor_pessoa_id = getId()
    this.token != 'vendor-token' ? this.findVendedores() : this.person.tipoPessoa = '1'
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
     ...mapMutations({
      setCoordenador: 'pessoa/SET_COORDENADOR'
    }),
    ...mapActions({
      findCidades: `cidade/search`,
      findCoordenadores: 'pessoa/findCoordenadores',
      findVendedores: 'pessoa/findVendedores',
      createAdmin: `pessoa/createAdmin`,
      updateAdmin: `pessoa/updateAdmin`
    }),
	  handleCidadeChange(value) {
      this.person.cidade_id = value ? value.id ? value.id : value : ''
    },
    confirmCancel(){
      // type: 'info', type: 'success', type: 'warning', type: 'error'
      // ((person.tipoPessoa == 2 ? vendor.dataVigenciaInicial : null) || (person.tipoPessoa == 2 ? vendor.dataVigenciaFinal : null) || (person.tipoPessoa == 2 ? coordenadorVendedor.coord_id : null) || (person.tipoPessoa == 3 ? coordenador.dataVigenciaInicial : null) || (person.tipoPessoa == 3 ? coordenador.dataVigenciaFinal : null) || person.nome || person.cnpjCpf || contact.nome || contact.fone || contact.email || person.cep || person.logradouro || person.bairro || person.numero || person.complemento || person.password ) ?
      // ((person.tipoPessoa == 2 ? !vendor.dataVigenciaInicial : true) && (person.tipoPessoa == 2 ? !vendor.dataVigenciaFinal : true) && (person.tipoPessoa == 2 ? !coordenadorVendedor.coord_id : true) && (person.tipoPessoa == 3 ? !coordenador.dataVigenciaInicial : true) && (person.tipoPessoa == 3 ? !coordenador.dataVigenciaFinal : true) && !person.nome && !person.cnpjCpf && !contact.nome && !contact.fone && !contact.email && !person.cep && !person.logradouro && !person.bairro && !person.numero && !person.complemento && !person.password ) ?
        (this.$confirm('Deseja cancelar a edição?', 'Cancelar?', {
            confirmButtonText: "Sim",
            cancelButtonText: "Não",
            type: "warning"
          }).then((ok) => ok ? this.$router.go(-1) : false))
      // : this.$router.go(-1)
    },
    handleSubmit() {
    //   this.$refs['dataForm'].clearValidate()
    //   this.$refs['dataForm'].validate(valid => {
    //     if (valid) {
      if(!this.person.id){ //new
        this.createAdmin({
          person: this.person,
          contact: this.contact,
          industry: this.industry,
          vendor: this.vendor,
          coordenadorVendedor: this.coordenadorVendedor,
          vendedorIndustria: this.vendedorIndustria,
          coordenador: this.coordenador,
          estado_UF: this.estado_UF,
          cidade: this.cidadeQuery
        }).then(() => this.$notify({ title: 'Pessoa atualizada', message: 'OK', type: 'success', duration: 2000 }))
          .then(() => this.$router.go(-1))
          .catch((err) => this.$notify({ title: 'Ocorreu um erro', message: err.response ? err.response.data ? err.response.data.message ? err.response.data.message : err.response.data : err.response : err.message ? err.message : err, type: 'error', duration: 2000 }))
      }else{//edit
        this.updateAdmin({
          person: this.person,
          contact: this.contact,
          industry: this.industry,
          vendor: this.vendor,
          coordenadorVendedor: this.coordenadorVendedor,
          vendedorIndustria: this.vendedorIndustria,
          coordenador: this.coordenador,
          estado_UF: this.estado_UF,
          cidade: this.cidadeQuery
        }).then(() => this.$notify({ title: 'Pessoa atualizada', message: 'OK', type: 'success', duration: 2000 }))
          .then(this.idOwner === this.idEdit ? setName(this.person.nome) : null)
          .then(() => this.$router.go(-1))
          .then(this.idOwner === this.idEdit ? setTimeout(() => { reloadRouter() }, 2000) : null)
        .catch((err) => this.$notify({ title: 'Ocorreu um erro', message: err.response ? err.response.data ? err.response.data.message ? err.response.data.message : err.response.data : err.response : err.message ? err.message : err, type: 'error', duration: 2000 }))
      }



    //      } else {
    //        this.$notify({ title: 'Revise os campos', message: 'Erro na validacao', type: 'error', duration: 2000 })
    //      }
    //   })
    },
	  consultaCEP() {
      if (this.person.cep.length == 8) {
        axios.get(`https://viacep.com.br/ws/${ this.person.cep }/json/`)
          .then(response => {
            this.person.bairro = response.data.bairro
            this.person.logradouro = response.data.logradouro
            this.cidadeQuery = response.data.localidade
            this.person.logradouro ? this.$router.currentRoute.name != 'pessoa_edit' ? document.getElementById('numeroEndereco').focus() : null : document.getElementById('CEP').value = '';
            })
          .catch(error => console.log(error))
      }
    },
    showPwd() {
      if (this.pwdType === 'password') {
        this.pwdType = ''
      }
      else {
        this.pwdType = 'password'
      }
    },
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "~@/styles/mixin.scss";
@import '~@/styles/detail.scss';

.btn-block {
	position: absolute;
	right: 0;
	height: 100%;
}

.btn-block__inner {
	display: flex;
    height: 100%;
    padding-bottom: 1.4rem;
    align-items: flex-end;
    justify-content: flex-end;
}
</style>
