<template>
  <div>
    <el-row>
      <el-button
        class="filter-item"
        style="margin-left: 0px; margin-bottom: 20px"
        type="success"
        icon="el-icon-user-solid"
        @click="$router.push(`new`)"
      >Adicionar Vendedor / Coordenador</el-button>
      <el-button
        class="filter-item"
        style="margin-left: 0px; margin-bottom: 20px"
        type="success"
        icon="el-icon-office-building"
        @click="$router.push(`newI`)"
      >Adicionar Indústria</el-button>
    </el-row>
    <el-row>
      <el-col :span="5">
        <export-excel
          :data   = "items"
          :fields = "{'ID':'id','Nome':'nome','TipoPessoa':'tipoPessoa','CNPJ / CPF':'cnpjCpf','CEP':'cep','Logradouro':'logradouro','Numero':'numero','Bairro':'bairro','Complemento':'complemento','ID Cidade':'cidade_id','Criado em':'created_at','Atualizado em':'updated_at','Conta Nova':'newAccount'}"
          :name = excelPage>
          <el-button
            type="warning"
            :disabled = "!items.length"
            v-loading="loading"
            plain
            icon="el-icon-download"
            size="default">EXCEL - PÁGINA
          </el-button>
        </export-excel>
      </el-col>
      <el-col :span="1"></el-col>
      <el-col :span="6">
        <export-excel
          :data   = "multipleSelection"
          :fields = "{'ID':'id','Nome':'nome','TipoPessoa':'tipoPessoa','CNPJ / CPF':'cnpjCpf','CEP':'cep','Logradouro':'logradouro','Numero':'numero','Bairro':'bairro','Complemento':'complemento','ID Cidade':'cidade_id','Criado em':'created_at','Atualizado em':'updated_at','Conta Nova':'newAccount'}"
          :name = excelSelected>
          <el-button
            type="warning"
            v-loading="loading"
            plain
            :disabled = "!multipleSelection.length"
            icon="el-icon-download"
            size="default">EXCEL - SELEÇÃO
          </el-button>
        </export-excel>
      </el-col>
      <el-col :span="1"></el-col>
      <el-col :span="6">
        <export-excel
          :data   = "pessoas"
          :hidden="token !='admin-token2'">
          <el-button
            type="warning"
            v-loading="loadingXLS"
            plain
            icon="el-icon-download"
            size="default">EXCEL - TUDO
          </el-button>
        </export-excel>
      </el-col>
    </el-row> <br><br><br>
    <el-row>
      <h3> Filtros <i class="el-icon-finished"></i></h3>
    </el-row>
    <el-row>
      <el-checkbox-button @change="vendedoresFiltro" v-model="filtroVendedoresAtivo"><i class="el-icon-suitcase"></i> Vendedores</el-checkbox-button>
      <el-checkbox-button type="info" @change="coordenadoresFiltro" v-model="filtroCoordenadoresAtivo"><i class="el-icon-s-custom"></i> Coordenadores</el-checkbox-button>
    </el-row>
    <el-row>
      <el-col :span="6">
        <label class="el-form-item__label">Nome</label>
        <el-input
          v-model="query"
          placeholder="Buscar Pessoa"
          class="filter-item"
          @input="debouncedSearch"
        />
	    </el-col>
      <el-col :span="11" :offset="1">
        <CidadeSearch @change="handleCidadeChange" />
      </el-col>
      <el-col :span="3" :pull="7">
        <label class="el-form-item__label">Coordenador(a)</label>
        <el-select v-model="coordenadorID" @change="handleFilterChange"  placeholder="Selecione" filterable clearable style="width: 130%">
          <el-option
            v-for="item in coordenadores"
            :key="item.nome"
            :label="item.nome"
            :value="item.id"
          />
        </el-select>
      </el-col>
      <el-col :span="3" :pull="5">
        <label class="el-form-item__label">Vendedor(a)</label>
        <el-select v-model="vendedorID" @change="handleFilterChange" placeholder="Selecione" filterable clearable style="width: 130%">
          <el-option
            v-for="item in vendedores"
            :key="item.id"
            :label="item.nome"
            :value="item.id"
          />
        </el-select>
      </el-col>
      <!-- <el-col :offset="17">
      <label class="el-form-item__label" style="opacity: 0; cursor: default;">Pesquisar</label>
        <el-button
        style="display: flex; align-self: flex-end; justify-self: flex-end;"
          class="filter-item"
          type="primary"
          icon="el-icon-search"
          @click="handleSearch"
        >Pesquisar</el-button>
      </el-col> -->
	  </el-row>
    <el-row>
      <el-col>
        <h3 :hidden="!loading"> Buscando dados...</h3>
        <h3 :hidden="loading"> Exibindo de {{ from ? from : 0 }} a {{ to ? to : 0 }} do total de {{ total ? total : 0}}</h3>
      </el-col>
    </el-row>
	  <el-col>
      <el-pagination
        :disabled="loading"
        :current-page="page"
        :page-size="15"
        :pager-count="11"
        :total="total"
        layout="prev, pager, next"
        @current-change="handlePageChange"/>
	  </el-col>
    <el-table
      v-loading="loading"
      ref="multipleTable"
      :data="items"
      border
      fit
      highlight-current-row
      style="width: 100%;"
      @selection-change="handleSelectionChange">
      <el-table-column
        type="selection"
        width="42">
      </el-table-column>
      <el-table-column
        v-for="field in fields"
        :key="field.slug"
        :label="field.label"
        :prop="field.slug"
        sortable
        align="center">
        <template slot-scope="scope">
          <span>{{ field.slug == 'tipoPessoa' ? getTipoPessoaValue(scope.row[field.slug]) : scope.row[field.slug] }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="Ações"
        align="center"
        width="200"
        class-name="small-padding fixed-width">
        <template slot-scope="scope">
          <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">editar</el-button>
          <el-button size="mini" plain :disabled="token!='admin-token'" type="danger" @click="token!='admin-token' ? null : handleDeletePaginated(scope.row, 'Pessoa')">remover</el-button>
        </template>
      </el-table-column>
    </el-table><br>
    <el-row
      justify="end"
      type="flex">
      <el-col>
        <el-pagination
          :disabled="loading"
          :current-page="page"
          :page-size="15"
          :pager-count="11"
          :total="total"
          layout="prev, pager, next"
          @current-change="handlePageChange"/>
      </el-col>
      <el-col :span="8">
        <el-button
          style="visibility:hidden"
          type="danger"
          icon="el-icon-delete"
          >Excluir pessoas selecionadas
        </el-button>
      </el-col>
      <el-col :span="4">
        <el-button
          @click="clearSelection()"
          type="warning"
          icon="el-icon-refresh-left"
          >Limpar seleção
        </el-button>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'
import { mapGetters, mapActions, mapMutations } from 'vuex'
import _ from 'lodash'
import CidadeSearch from '@/modules/cidade/components/CidadeSearch'
import { getId, getToken } from '@/utils/auth'

const MODULE_NAME = 'pessoa'
const crudStore = crudHelper(MODULE_NAME)
var firstFilter = null;
const token = '';
var excelPage = '';
var excelAll = '';
var excelSelected = '';

export default {
  props: ['fields'],
  components: {CidadeSearch},
  data() {
    return {
      data: [],
      page: 1,
      query: '',
      coordenadorID: '',
      multipleSelection: [],
      vendedorID: '',
      filtroVendedoresAtivo: false,
      filtroCoordenadoresAtivo: false,
      cidade: '',
      cidadeSelected: {},
      cidadeResults: []
    }
  },
  computed: {
    ...crudStore.computed,
    ...mapGetters({
      vendedores: 'pessoa/vendedores',
      coordenadores: 'pessoa/coordenadores',
      vendedor: 'pessoa/vendedor',
      coordenador: 'pessoa/coordenador',
    }),
    vendedorGetSet: {
      get() {
        return this.vendedor
      },
      set(vendedor) {
        this.setVendedor(vendedor)
      }
    },
    coordenadorGetSet: {
      get() {
        return this.coordenador
      },
      set(coordenador) {
        this.setCoordenador(coordenador)
      }
    }
  },
  created() {
    this.findVendedores()
    this.findCoordenadores()
    this.token = getToken()
    if(this.token === 'vendor-token') {
      this.vendedorID = {}
      this.vendedorID.id = getId()
    }else if (this.token === 'manager-token'){
      this.coordenadorID = {}
      this.coordenadorID.id = getId();
    }
    this.findPaginated({ page: this.page, filtroCoordenadoresAtivo: this.filtroCoordenadoresAtivo, filtroVendedoresAtivo: this.filtroVendedoresAtivo, coordenador: this.coordenadorID.id ? this.coordenadorID.id : this.coordenadorID, vendedor: this.vendedorID.id ? this.vendedorID.id : this.vendedorID})
    // this.findPessoas()
    this.debouncedSearch = _.debounce(this.debouncedSearch, 1000);
    this.token === 'admin-token' ? (this.excelAll = (this.$route.meta.title + '-admin-' + new Date().getTime() + '.xls')) : null
    this.excelPage = this.$route.meta.title + '-page-' + new Date().getTime() + '.xls'
    this.excelSelected = this.$route.meta.title + '-selected-' + new Date().getTime() + '.xls'
    // const params = {}
    // this.params(params)
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapMutations({
      setVendedor: 'pessoa/SET_VENDEDOR',
      setCoordenador: 'pessoa/SET_COORDENADOR'
    }),
    ...mapActions({
      findVendedores: 'pessoa/findVendedores',
      findCoordenadores: 'pessoa/findCoordenadores',
      // findPessoas: 'pessoa/findUnpaginatedPessoa'
    }),
    handleFilterChange() {
      firstFilter = firstFilter ? firstFilter : this.coordenadorID ? 'manager' : 'vendor' ;
      if(firstFilter == 'vendor' && this.coordenadorID){
        this.vendedorID = null
        firstFilter = 'manager'
        this.findVendedores(this.coordenadorID)
      }else if(firstFilter == 'manager' && this.vendedorID){
        firstFilter = 'vendor'
      }else{
        this.findVendedores(this.coordenadorID)
      }
      if(this.token === 'vendor-token') {
      this.vendedorID = {}
      this.vendedorID.id = getId()
      }else if (this.token === 'manager-token'){
        this.coordenadorID = {}
        this.coordenadorID.id = getId();
      }
      // this.normalSearch()
      // this.findVendedores(this.coordenadorID)
      this.page = 1
      this.excelPage = this.$route.meta.title + '-page-' + new Date().getTime() + '.xls'
      this.excelSelected = this.$route.meta.title + '-selected-' + new Date().getTime() + '.xls'
      this.cidade ? this.findPaginated({ page: 1, cidade: this.cidade.id, name: '%' + this.query.replace(/\s/g, '%') + '%', filtroCoordenadoresAtivo: this.filtroCoordenadoresAtivo, filtroVendedoresAtivo: this.filtroVendedoresAtivo, coordenador: this.coordenadorID.id ? this.coordenadorID.id : this.coordenadorID, vendedor: this.vendedorID.id ? this.vendedorID.id : this.vendedorID}) : this.findPaginated({ page: 1, name: '%' + this.query.replace(/\s/g, '%') + '%', filtroCoordenadoresAtivo: this.filtroCoordenadoresAtivo, filtroVendedoresAtivo: this.filtroVendedoresAtivo, coordenador: this.coordenadorID.id ? this.coordenadorID.id : this.coordenadorID, vendedor: this.vendedorID.id ? this.vendedorID.id : this.vendedorID})
    },
    handleSelectionChange(val) {
      this.excelSelected = this.$route.meta.title + '-selected-' + new Date().getTime() + '.xls'
      this.multipleSelection = val
    },
    clearSelection() {
      this.$refs.multipleTable.clearSelection();
    },
    deactivateSelected(){
      // if(typeof this.multipleSelection !== 'undefined'){
      //   for(var i=0; i < this.multipleSelection.length; i++){
      //     this.handleDeletePaginated(this.multipleSelection[i], 'Pessoa')
      //   }
      // }
    },
    vendedoresFiltro(){
      this.filtroCoordenadoresAtivo = false
      this.$route.meta.title = this.filtroVendedoresAtivo ? 'Vendedores' : 'Pessoas'
      this.handleFilterChange()
    },
    coordenadoresFiltro(){
      this.filtroVendedoresAtivo = false
      this.$route.meta.title = this.filtroCoordenadoresAtivo ? 'Coordenadores' : 'Pessoas'
      this.handleFilterChange()
    },
    handlePageChange(page) {
      this.page = page
      this.cidade ? this.findPaginated({ page, cidade: this.cidade.id, name: '%' + this.query.replace(/\s/g, '%') + '%', filtroCoordenadoresAtivo: this.filtroCoordenadoresAtivo, filtroVendedoresAtivo: this.filtroVendedoresAtivo, coordenador: this.coordenadorID.id ? this.coordenadorID.id : this.coordenadorID, vendedor: this.vendedorID.id ? this.vendedorID.id : this.vendedorID}) : this.findPaginated({ page, name: '%' + this.query.replace(/\s/g, '%') + '%', filtroCoordenadoresAtivo: this.filtroCoordenadoresAtivo, filtroVendedoresAtivo: this.filtroVendedoresAtivo, coordenador: this.coordenadorID.id ? this.coordenadorID.id : this.coordenadorID, vendedor: this.vendedorID.id ? this.vendedorID.id : this.vendedorID})
    },
    debouncedSearch(){
      this.handleSearch()
    },
    // debouncedSearch(){
    // 	_.debounce(this.handleSearch(),1000)
    // },
    handleSearch() {
      this.cidade ? this.findPaginated({ page: 1, cidade: this.cidade.id, name: '%' + this.query.replace(/\s/g, '%') + '%', filtroCoordenadoresAtivo: this.filtroCoordenadoresAtivo, filtroVendedoresAtivo: this.filtroVendedoresAtivo, coordenador: this.coordenadorID.id ? this.coordenadorID.id : this.coordenadorID, vendedor: this.vendedorID.id ? this.vendedorID.id : this.vendedorID}) : this.findPaginated({ page: 1, name: '%' + this.query.replace(/\s/g, '%') + '%', filtroCoordenadoresAtivo: this.filtroCoordenadoresAtivo, filtroVendedoresAtivo: this.filtroVendedoresAtivo, coordenador: this.coordenadorID.id ? this.coordenadorID.id : this.coordenadorID, vendedor: this.vendedorID.id ? this.vendedorID.id : this.vendedorID})
    },
    getTipoPessoaValue(tipo_id) {
      let tipos = this.token === 'admin-token' ? [{label: 'Indústria', id: 1}, {label: 'Vendedor', id: 2}, {label: 'Coordenador', id: 3},] : [{label: 'Indústria', id: 1},]
      for (let count in tipos) {
        if(tipo_id == tipos[count].id) {
          return tipos[count].label
        }
      }
    },
    handleCidadeChange(value) {
      this.cidade = value
      this.findPaginated({ page: 1, cidade: value.id, name: '%' + this.query.replace(/\s/g, '%') + '%', filtroCoordenadoresAtivo: this.filtroCoordenadoresAtivo, filtroVendedoresAtivo: this.filtroVendedoresAtivo, coordenador: this.coordenadorID.id ? this.coordenadorID.id : this.coordenadorID, vendedor: this.vendedorID.id ? this.vendedorID.id : this.vendedorID })
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import '~@/styles/list-table.scss';
</style>
