<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <!-- <sticky class-name="sub-navbar draft"> -->
      <!-- </sticky> -->

      <div class="createPost-main-container">
        <el-row :gutter="24">
          <el-col :span="6">
            <el-form-item label="Região" prop="regiao_id">
              <el-select v-model="item.regiao_id" id="regiao" placeholder="Selecione a Região">
                <el-option
                  v-for="regiao in regioes"
                  :key="regiao.id"
                  :label="regiao.nome"
                  :value="regiao.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="Nome da Micro Região" prop="nome">
              <el-input v-model="item.nome" placeholder="Ex.: Zona Sul de Curitiba"/>
            </el-form-item>
          </el-col>
        </el-row>
		<el-row :gutter="24">
			<el-col>
				<el-button plain type="danger" @click="$router.go(-1)">Cancelar</el-button>
				<el-button
				v-loading="loading"
				style="margin-left: 10px;"
				type="success"
				@click="fixSelectAndSubmit"> Salvar
				</el-button>
			</el-col>
		</el-row>
      </div>
    </el-form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'

const MODULE_NAME = 'microRegiao'
const crudStore = crudHelper(MODULE_NAME)

export default {
  name: 'Detail',
  data: () => ({
    MODULE_NAME,
    item: {
      nome: '',
      regiao_id: '',
      regiao:{id:'',descricao:''}
    },
    rules: {
      nome: [{ required: true, message: 'Campo obrigatório.', trigger: 'blur' }],
      regiao_id: [{ required: true, message: 'Campo obrigatório.', trigger: 'blur' }],
      // cidade_id: [{ required: true, message: 'Campo obrigatório.', trigger: 'blur' }]
    }
  }),
  computed: {
    ...crudStore.computed,
    ...mapGetters({
      regioes: `regiao/items`,
    })
  },
  created() {
    this.findRegioes()
    if (this.$route.params.id) {
      const id = this.$route.params.id
      this.select({ id })
        .then(item => Object.assign(this.item, item))
        .then((item) => this.regioes.find(regiao => item.regiao_id==regiao.id) ? document.getElementById("regiao").value = this.regioes.find(regiao => item.regiao_id==regiao.id).nome : '')
        .then((item) => {
          this.item.regiao.descricao = document.getElementById("regiao").value;
          this.item.regiao.id = this.item.regiao_id;
        })
        .then((item) => this.fixSelectValue())
        .catch(alert)
    }
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapActions({
      findRegioes: `regiao/find`,
    }),
    fixSelectAndSubmit(){
      this.item.regiao_id == this.item.regiao.descricao ? this.item.regiao_id = this.item.regiao.id : null
      let mascaraSelect = this.item.regiao.descricao
      delete this.item.sede
      this.submit()
      mascaraSelect.length ? setTimeout(() => { this.item.regiao_id = mascaraSelect }, 100) : null
    },
    fixSelectValue(){
      typeof this.item.regiao_id && this.item.regiao_id == this.item.regiao.id ? this.item.regiao_id = this.item.regiao.descricao : null
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "~@/styles/mixin.scss";
@import '~@/styles/detail.scss';
</style>
