<template>
  <div>
    <el-row type="flex">
      <el-col :span="3">
        <el-button
          class="filter-item"
          style="margin-left: 0px; margin-bottom: 20px"
          type="success"
          icon="el-icon-edit"
          @click="$router.push(`new`)"
        >Novo
      </el-button>
      </el-col>
      <el-col :span="1"></el-col>
      <el-col :span="3">
        <export-excel
          :data   = "items"
          :name = excelPage
          :fields = "{'ID':'id','Nome':'nome','Região':'nomeRegiao','Sede':'nomeSede','Criação':'created_at','Alteração':'updated_at'}"
          :before-generate = adicionaCamposParaExportacaoXLS()
          >
          <el-button
            type="warning"
            :disabled = "!items.length"
            v-loading="loading"
            plain
            icon="el-icon-download"
            size="default">EXCEL
          </el-button>
        </export-excel>
      </el-col>
    </el-row>
    <el-table
      v-loading="loading"
      :data="items"
      border
      fit
      highlight-current-row
      style="width: 100%;"
    >
      <el-table-column
        v-for="field in fields"
        :key="field.slug"
        :label="field.label"
        :prop="field.slug"
        :sortable="field.slug!='cidade_id' && field.slug!='regiao_id'"
        align="center"
      >
        <template slot-scope="scope">
          <span>{{ field.slug == 'cidade_id' ? regiaoIdToRegiaoCidade(scope.row['regiao_id']) : field.slug == 'regiao_id' ? regiaoIdToRegiaoNome(scope.row[field.slug]) : scope.row[field.slug] }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="Ações"
        align="center"
        width="200"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">editar</el-button>
          <el-button size="mini" plain type="danger"  @click="handleDelete(scope.row)" >remover</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'

const MODULE_NAME = 'microRegiao'
const crudStore = crudHelper(MODULE_NAME)
const excelPage = ''

export default {
  props: ['fields'],
  computed: {
    ...crudStore.computed,
    ...mapGetters({
      regioes: `regiao/items`
    })
  },
  created() {
    this.findRegioes()
    this.find()
    this.excelPage = 'micro-regiao-page-' + new Date().getTime() + '.xls'
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapActions({
      findRegioes: `regiao/find`,
    }),
    regiaoIdToRegiaoCidade(idRegiao){
      return this.regioes.find(regiao => idRegiao==regiao.id) ? this.regioes.find(regiao => idRegiao==regiao.id).sede.nome : ''
    },
    regiaoIdToRegiaoNome(idRegiao){
      return this.regioes.find(regiao => idRegiao==regiao.id) ? this.regioes.find(regiao => idRegiao==regiao.id).nome : ''
    },
    adicionaCamposParaExportacaoXLS(){
      if(this.items.length){
        for(var i=0; i<this.items.length; i++){
          this.items[i].nomeSede = this.regioes.find(regiao => this.items[i].regiao_id==regiao.id).sede.nome
          this.items[i].nomeRegiao = this.regioes.find(regiao => this.items[i].regiao_id==regiao.id).nome
        }
      }
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import '~@/styles/list-table.scss';
</style>
