<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <!-- <sticky class-name="sub-navbar draft"> -->
      <!-- </sticky> -->

      <div class="createPost-main-container">
        <el-row :gutter="24">
          <el-col :span="8">
            <el-form-item label="Nome da Categoria" prop="descricao">
              <el-input v-model="item.descricao" placeholder="Nome descritivo para a categoria" maxlength="45" minlength="1"/>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="8">
            <el-form-item
              prop="dataVigenciaInicio"
              label="Data de Vigencia Inicial:"
              class="postInfo-container-item"
            >
              <el-date-picker
                v-model="item.dataVigenciaInicio"
                type="date"
                format="dd-MM-yyyy"
                placeholder="Selecione a data inicial"
              />
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item
              label="Data de Vigencia Final:"
              class="postInfo-container-item"
            >
              <el-date-picker
                v-model="item.dataVigenciaFinal"
                type="date"
                format="dd-MM-yyyy"
                placeholder="Selecione a data final"
              />
            </el-form-item>
          </el-col>
        </el-row>
		<el-row :gutter="24">
			<el-col>
				<el-button plain type="danger" @click="$router.go(-1)">Cancelar</el-button>
				<el-button
				v-loading="loading"
				style="margin-left: 10px;"
				type="success"
				@click="fixDateAndSubmit"
        :disabled="!item.dataVigenciaInicio || !item.descricao.length"> Salvar
				</el-button>
			</el-col>
		</el-row>
      </div>
    </el-form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'

const MODULE_NAME = 'categoria'
const crudStore = crudHelper(MODULE_NAME)

export default {
  name: 'Detail',
  data: () => ({
    MODULE_NAME,
    item: {
      descricao: '',
      dataVigenciaInicio: '',
      dataVigenciaFinal: ''
    },
    rules: {
      descricao: [
        { required: true, message: 'Campo obrigatório.', trigger: 'blur' }
      ],
      dataVigenciaInicio: [
        { required: true, message: 'Campo obrigatório.', trigger: 'blur' }
      ]
    }
  }),
  computed: {
    ...crudStore.computed,
    ...mapGetters({
    })
  },
  created() {
    if (this.$route.params.id) {
      const id = this.$route.params.id
      this.select({ id })
        .then((item) => Object.assign(this.item, item))
        .catch(alert)
    }
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapActions({
    }),
    fixDateAndSubmit(){
      let dataAux = new Date(this.item.dataVigenciaInicio)
      let dataFinalAux = this.item.dataVigenciaFinal ? new Date(this.item.dataVigenciaFinal) : null
      this.item.dataVigenciaInicio.getUTCHours() <= 0 ? this.item.dataVigenciaInicio.setDate(dataAux.getDate() - 1) : null
      dataFinalAux ? this.item.dataVigenciaFinal.getUTCHours() <= 0 ? this.item.dataVigenciaFinal.setDate(dataFinalAux.getDate() - 1) : null : null
      this.submit()
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import '~@/styles/mixin.scss';
@import '~@/styles/detail.scss';
</style>
