<template>
  <div class="app-container">
    <h3> {{ $route.meta.title }} </h3>
    <list-table :fields="[
  {
    label: 'Categoria',
    slug: 'descricao'
  },
  {
    label: 'Válida a partir de:',
    slug: 'dataVigenciaInicio'
  },
  {
    label: 'Válida até:',
    slug: 'dataVigenciaFinal'
  }
]"/>
  </div>
</template>

<script>
import ListTable from '../components/ListTable.vue'

export default {
  components: { ListTable }
}
</script>

