<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <!-- <sticky class-name="sub-navbar draft"> -->
      <!-- </sticky> -->

      <div class="createPost-main-container">
        <el-row :gutter="24">
          <el-col :span="6">
            <el-form-item label="Nome da Região" prop="nome">
              <el-input v-model="item.nome" placeholder="Ex.: Grande São Paulo" maxlength="20"/>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="Sede" prop="sede_id">
              <el-select v-model="item.sede_id" id="sede" placeholder="Selecione uma Sede">
                <el-option
                  v-for="sede in sedes"
                  :key="sede.id"
                  :label="sede.nome"
                  :value="sede.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
		<el-row :gutter="24">
			<el-col>
				<el-button plain type="danger" @click="$router.go(-1)">Cancelar</el-button>
				<el-button
				v-loading="loading"
				style="margin-left: 10px;"
				type="success"
				@click="fixSelectAndSubmit"
        :disabled="!item.nome.length || !item.sede_id"> Salvar
				</el-button>
			</el-col>
		</el-row>
      </div>
    </el-form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'

const MODULE_NAME = 'regiao'
const crudStore = crudHelper(MODULE_NAME)

export default {
  name: 'Detail',
  data: () => ({
    MODULE_NAME,
    item: {
      nome: '',
      sede_id: '',
      sede:{id:'',nome:''}
    },
    rules: {
      nome: [
        { required: true, message: 'Campo obrigatório.', trigger: 'blur' }
      ],
      sede_id: [
        { required: true, message: 'Campo obrigatório.', trigger: 'blur' }
      ]
    }
  }),
  computed: {
    ...crudStore.computed,
    ...mapGetters({
      sedes: `sede/items`
    })
  },
  created() {
    this.findSedes()
    if (this.$route.params.id) {
      const id = this.$route.params.id
      this.select({ id })
        .then(item => Object.assign(this.item, item))
        .then((item) => this.sedes.find(sede => item.sede_id==sede.id) ? document.getElementById("sede").value = this.sedes.find(sede => item.sede_id==sede.id).nome : '')
        .then((item) => {
          this.item.sede.nome = document.getElementById("sede").value;
          this.item.sede.id = this.item.sede_id;
        })
        .then((item) => this.fixSelectValue())
        .catch(alert)
    }
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapActions({
      findSedes: `sede/find`
    }),
    fixSelectAndSubmit(){
      this.item.sede_id == this.item.sede.nome ? this.item.sede_id = this.item.sede.id : null
      let mascaraSelect = this.item.sede.nome
      delete this.item.sede
      this.submit()
      mascaraSelect.length ? setTimeout(() => { this.item.sede_id = mascaraSelect }, 100) : null
    },
    fixSelectValue(){
      typeof this.item.sede_id && this.item.sede_id == this.item.sede.id ? this.item.sede_id = this.item.sede.nome : null
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import '~@/styles/mixin.scss';
@import '~@/styles/detail.scss';
</style>
