<template>
  <div class="dashboard-container">
    <div class="dashboard-text">Exos:</div>
    <div class="dashboard-text">
      <el-row :gutter="10">
        <el-col v-for="(exo) in exoList" :key="exo.id" :xs="24" :sm="12" :md="8" :lg="4">
          <exo-card :exo="exo" @click="open(exo)"/>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import ExoCard from '@/components/Exo/Card.vue'

export default {
  name: 'Dashboard',
  components: { ExoCard },
  computed: {
    ...mapGetters([
      'name',
      'exoList'
    ])
  },
  methods: {
    ...mapActions([
      'selectExo'
    ]),
    open(exo) {
      this.selectExo(exo)
      this.$router.push('/info')
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
</style>
