<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <!-- <sticky class-name="sub-navbar draft"> -->
      <!-- </sticky> -->
      <div class="createPost-main-container">
        <el-row :gutter="24">
          <el-col :span="6">
            <el-form-item label="Área/Segmento" prop="area_id">
              <el-select v-model="item.area_id" id='area' placeholder="Selecione">
                <el-option
                  v-for="item in areas"
                  :key="item.id"
                  :label="item.descricao"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="Nome do Curso" prop="descricao">
              <el-input v-model="item.descricao"  placeholder="Nome descritivo para o curso" maxlength="100"/>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="6">
            <el-form-item
              prop="dataVigenciaInicial"
              label="Data de Vigência Inicial:"
              class="postInfo-container-item"
            >
              <el-date-picker
                v-model="item.dataVigenciaInicial"
                type="date"
                format="dd-MM-yyyy"
                placeholder="Selecione a data inicial"
              />
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item
              label="Data de Vigência Final:"
              class="postInfo-container-item"
            >
              <el-date-picker
                v-model="item.dateVigenciaFinal"
                type="date"
                format="dd-MM-yyyy"
                placeholder="Selecione a data final"
              />
            </el-form-item>
          </el-col>
        </el-row>
		<el-row :gutter="24">
			<el-col>
				<el-button plain type="danger" @click="$router.go(-1)">Cancelar</el-button>
				<el-button
				v-loading="loading"
				style="margin-left: 10px;"
				type="success"
				@click="fixDateAndSubmit()"
        :disabled="!item.descricao.length || !item.dataVigenciaInicial || !item.area_id"> Salvar
				</el-button>
			</el-col>
		</el-row>
      </div>
    </el-form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'

const MODULE_NAME = 'curso'
const crudStore = crudHelper(MODULE_NAME)
export default {
  name: 'Detail',
  data: () => ({
    MODULE_NAME,
    item: {
      descricao: '',
      dataVigenciaInicial: '',
      dateVigenciaFinal: '',
      area_id: '',
      area:{id:'',descricao:''}
    },
    rules: {
      descricao: [
        { required: true, message: 'Campo obrigatório.', trigger: 'blur' }
      ],
      dataVigenciaInicial: [
        { required: true, type: 'date', message: 'Campo obrigatório', trigger: 'change' }
      ],
      area_id: [
        { required: true, message: 'Campo obrigatório' }
      ]
    }
  }),
  computed: {
    ...crudStore.computed,
    ...mapGetters({
      areas: `area/items`
    }),
  },
  created() {
    this.findAreas()
    if (this.$route.params.id) {
      const id = this.$route.params.id
      this.select({ id })
        .then(item => Object.assign(this.item, item))
        .then(item => this.areas.find(area => item.area_id == parseInt(area.id)) ? document.getElementById("area").value = this.areas.find(area => item.area_id == parseInt(area.id)).descricao : '')
        .then((item) => {
          this.item.area.descricao = document.getElementById("area").value;
          this.item.area.id = this.item.area_id;
        })
        .then((item) => this.fixSelectValue())
        .catch(alert)

    }
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapActions({
      findAreas: `area/find`
    }),
    fixDateAndSubmit(){
      let dataAux = new Date(this.item.dataVigenciaInicial)
      let dataFinalAux = this.item.dateVigenciaFinal ? new Date(this.item.dateVigenciaFinal) : null
      this.item.dataVigenciaInicial ? this.item.dataVigenciaInicial.getUTCHours() <= 0 ? this.item.dataVigenciaInicial.setDate(dataAux.getDate() - 1) : null : null
      dataFinalAux ? this.item.dateVigenciaFinal.getUTCHours() <= 0 ? this.item.dateVigenciaFinal.setDate(dataFinalAux.getDate() - 1) : null : null
      this.item.area_id == this.item.area.descricao ? this.item.area_id = this.item.area.id : null
      let mascaraSelect = this.item.area.descricao
      delete this.item.area
      this.submit()
      mascaraSelect.length ? setTimeout(() => { this.item.area_id = mascaraSelect }, 100) : null
    },
    fixSelectValue(){
      typeof this.item.area_id && this.item.area_id == this.item.area.id ? this.item.area_id = this.item.area.descricao : null
    }
  },
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "~@/styles/mixin.scss";
@import '~@/styles/detail.scss';
</style>
