<template>
  <div>
  <el-row type="flex">
    <el-col :span="3">
      <el-button
        class="filter-item"
        style="margin-left: 0px; margin-bottom: 20px"
        type="success"
        icon="el-icon-edit"
        @click="$router.push(`new`)"
        >Novo
      </el-button>
    </el-col>
    <el-col :span="1"></el-col>
    <el-col :span="5">
      <export-excel
        :data   = "items"
        :fields = "{'id':'id','Curso':'descricao','Data de Vigência Inicial':'dataVigenciaInicial','Data de Vigência Final':'dateVigenciaFinal','Criado em':'created_at','Atualizado em':'updated_at','ID_Area':'area_id','Descricao Area':'descricaoArea'}"
        :before-generate = areaIdToDescricaoXLS()
        :name = excelPage>
        <el-button
          type="warning"
          :disabled = "!items.length"
          v-loading="loading"
          plain
          icon="el-icon-download"
          size="default">EXCEL - PÁGINA
        </el-button>
      </export-excel>
    </el-col>
    <el-col :span="1"></el-col>
    <el-col :span="3">
      <export-excel
        :data = "cursos"
        :fields = "{'id':'id','Curso':'descricao','Data de Vigência Inicial':'dataVigenciaInicial','Data de Vigência Final':'dateVigenciaFinal','Criado em':'created_at','Atualizado em':'updated_at','ID_Area':'area_id','Descricao Area':'descricaoArea'}"
        :before-generate = areaIdToDescricaoXLSDataCursos()
        :name = excelAll>
        <el-button
          type="warning"
          v-loading="loadingXLS"
          plain
          icon="el-icon-download"
          size="default">EXCEL - TUDO
        </el-button>
      </export-excel>
    </el-col>
	</el-row>
    <el-row :gutter="24">
	<el-col :span="8">
      <el-input
        v-model="query"
        placeholder="Pesquisar por curso"
        class="filter-item"
        @keyup.enter.native="handleSearch"
      />
	  </el-col>
	  <el-col :span="6">
      <el-button
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleSearch"
      >Pesquisar</el-button>
	  </el-col>
    </el-row>
    <h3> Exibindo de {{ from ? from : 0 }} a {{ to ? to : 0 }} do total de {{ total }}</h3>
    <el-pagination
      :disabled="loading"
      :current-page="page"
      :page-size="15"
      :pager-count="11"
      :total="total"
      layout="prev, pager, next"
      @current-change="handlePageChange"/>
    <el-table
      v-loading="loading"
      :data="items"
      border
      fit
      highlight-current-row
      style="width: 100%;"
    >
      <el-table-column
        v-for="field in fields"
        :key="field.slug"
        :label="field.label"
        :prop="field.slug"
        :sortable="field.slug != 'area_id'"
        align="center"
      >
        <template slot-scope="scope">
          <span>{{ (field.slug == 'dataVigenciaInicial' || field.slug == 'dateVigenciaFinal') ? dateToBRFormat(scope.row[field.slug]) : field.slug == 'area_id' ? areaIdToDescricao(scope.row[field.slug]) : scope.row[field.slug] }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="Ações"
        align="center"
        width="200"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">editar</el-button>
          <el-button size="mini" plain type="danger" @click="handleDeletePaginated(scope.row, 'Curso')">remover</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      :disabled="loading"
      :current-page="page"
      :page-size="15"
      :pager-count="11"
      :total="total"
      layout="prev, pager, next"
      @current-change="handlePageChange"/>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'

const MODULE_NAME = 'curso'
const crudStore = crudHelper(MODULE_NAME)
const excelPage = ''
const excelAll = ''

export default {
  props: ['fields'],
  // data: () => ({
  //   page: 1,
  //   query: '',
  // }),
  data:() => ({
      page: 1,
      query: '',
  }),
  computed: {
    ...crudStore.computed,
    ...mapGetters({
      areas: `area/items`,
      cursos: 'curso/cursos'
    })
  },
  created() {
    this.findAreas()
    this.findPaginated({ page: this.page })
    this.findCursos()
    this.excelPage = 'curso-page-' + new Date().getTime() + '.xls'
    this.excelAll = 'curso-all-' + new Date().getTime() + '.xls'
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapActions({
      findAreas: `area/find`,
      findCursos : 'curso/findUnpaginatedCurso'
    }),
    handlePageChange(page) {
      this.page = page
      this.excelPage = 'curso-page-' + new Date().getTime() + '.xls'
      this.findPaginated({ page, descricao: '%' + this.query.replace(/\s/g, '%') + '%' })
    },
    handleSearch() {
      this.page = 1
      this.excelPage = 'curso-page-' + new Date().getTime() + '.xls'
      this.findPaginated({ page: 1, descricao: '%' + this.query.replace(/\s/g, '%') + '%' })
    },
    dateToBRFormat(raw){
      return raw ? new Date(raw.substr(5,2) + '/' + raw.substr(8,2) + '/' + raw.substr(0,4)) ? raw.substr(8,2) + '-' + raw.substr(5,2) + '-' + raw.substr(0,4) : raw : '';
      // return raw ? parseInt(raw.substr(0,4)) < 3000 ? raw.substr(8,2) + '-' + raw.substr(5,2) + '-' + raw.substr(0,4) : raw : '';
    },
    areaIdToDescricao(idArea){
      return this.areas.find(area => idArea==parseInt(area.id)) ? this.areas.find(area => idArea==parseInt(area.id)).descricao : ''
    },
    areaIdToDescricaoXLS(){
       if(this.items.length){
        for(var i=0; i<this.items.length; i++){
          this.items[i].descricaoArea = this.areas.find(area => this.items[i].area_id==area.id).descricao
        }
      }
    },
    areaIdToDescricaoXLSDataCursos(){
       if(this.cursos.length){
        for(var i=0; i<this.cursos.length; i++){
          this.cursos[i].descricaoArea = this.areas.find(area => this.cursos[i].area_id==area.id).descricao
        }
      }
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import '~@/styles/list-table.scss';
</style>
