<template>
  <div>
    <el-button
      class="filter-item"
      style="margin-left: 0px; margin-bottom: 20px"
      type="success"
      icon="el-icon-edit"
      @click="$router.push(`new`)"> Novo
    </el-button>
    <el-table
      v-loading="loading"
      :data="items"
      border
      fit
      highlight-current-row
      style="width: 100%;"
    >
      <el-table-column
        v-for="field in fields"
        :key="field.slug"
        :label="field.label"
        :prop="field.slug"
        sortable
        align="center"
      >
        <template slot-scope="scope">
          <span>{{ field.slug == 'dataVigenciaInicial' || field.slug == 'dataVigenciaFinal'  ? dateToBRFormat(scope.row[field.slug]) : scope.row[field.slug] }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="Ações"
        align="center"
        width="200"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            type="primary"
            size="mini"
            @click="handleUpdate(scope.row)"
          >editar</el-button>
          <el-button
            size="mini"
            plain type="danger"
            @click="handleDelete(scope.row)"
          >remover</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'

const MODULE_NAME = 'videoQuantidadeMaxima'
const crudStore = crudHelper(MODULE_NAME)

export default {
  props: ['fields'],
  computed: {
    ...crudStore.computed
  },
  created() {
    this.find()
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    dateToBRFormat(raw){
      return raw ? new Date(raw.substr(5,2) + '/' + raw.substr(8,2) + '/' + raw.substr(0,4)) ? raw.substr(8,2) + '-' + raw.substr(5,2) + '-' + raw.substr(0,4) : raw : '';
      // return raw ? parseInt(raw.substr(0,4)) < 3000 ? raw.substr(8,2) + '-' + raw.substr(5,2) + '-' + raw.substr(0,4) : raw : '';
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import '~@/styles/list-table.scss';
</style>
