<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <!-- <sticky class-name="sub-navbar draft"> -->
      <!-- </sticky> -->

      <div class="createPost-main-container">
        <el-row :gutter="24">
          <el-col :span="4">
            <el-form-item label="Cidade" prop="cidade_id">
              <el-select v-model="item.cidade_id" id="cidade" placeholder="Selecionar" filterable>
                <el-option
                  v-for="cidade in cidades"
                  :key="cidade.id"
                  :label="cidade.nome"
                  :value="cidade.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="Nome da Sede" prop="nome">
              <el-input v-model="item.nome" placeholder="Ex.: Sede FIEP Campus Indústria" maxlength="45"/>
            </el-form-item>
          </el-col>
        </el-row>
		<el-row :gutter="24">
			<el-col>
				<el-button plain type="danger" @click="$router.go(-1)">Cancelar</el-button>
				<el-button
				v-loading="loading"
				style="margin-left: 10px;"
				type="success"
				@click="fixSelectAndSubmit"
        :disabled="!item.nome.length || !item.cidade_id"> Salvar
				</el-button>
			</el-col>
		</el-row>
      </div>
    </el-form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'
const MODULE_NAME = 'sede'
const crudStore = crudHelper(MODULE_NAME)

export default {
  name: 'Detail',
  data: () => ({
    MODULE_NAME,
    item: {
      nome: '',
      cidade_id: '',
      cidade:{id:'',nome:''}
    },
    rules: {
      nome: [{ required: true, message: 'Campo obrigatório.', trigger: 'blur' }],
      cidade_id: [{ required: true, message: 'Campo obrigatório.', trigger: 'blur' }]
    }
  }),
  computed: {
    ...crudStore.computed,
    ...mapGetters({
      cidades: `cidade/items`
    })
  },
  created() {
    this.findCidades()
    if (this.$route.params.id) {
      const id = this.$route.params.id
      this.select({ id })
        .then(item => Object.assign(this.item, item))
        .then((item) => this.cidades.find(cidade => item.cidade_id==cidade.id) ? document.getElementById("cidade").value = this.cidades.find(cidade => item.cidade_id==cidade.id).nome : '')
        .then((item) => {
          this.item.cidade.nome = document.getElementById("cidade").value;
          this.item.cidade.id = this.item.cidade_id;
        })
        .then((item) => this.fixSelectValue())
        .catch(alert)
    }

  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapActions({
      findCidades: 'cidade/findUnpaginated'
    }),
    fixSelectAndSubmit(){
      this.item.cidade_id == this.item.cidade.nome ? this.item.cidade_id = this.item.cidade.id : null
      let mascaraSelect = this.item.cidade.nome
      delete this.item.cidade
      this.submit()
      mascaraSelect.length ? setTimeout(() => { this.item.cidade_id = mascaraSelect }, 100) : null
    },
    fixSelectValue(){
      typeof this.item.cidade_id && this.item.cidade_id == this.item.cidade.id ? this.item.cidade_id = this.item.cidade.nome : null
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "~@/styles/mixin.scss";
@import '~@/styles/detail.scss';
</style>
