<template>
  <div>
    <el-row type="flex">
      <el-col :span="3">
        <el-button
          class="filter-item"
          style="margin-left: 0px; margin-bottom: 20px"
          type="success"
          icon="el-icon-edit"
          @click="$router.push(`new`)"
          >Novo
        </el-button>
      </el-col>
      <el-col :span="1"></el-col>
      <el-col :span="3">
        <export-excel
          :data   = "items"
          :name = excelPage
          :fields = "{'ID':'id','Nome':'nome','Cidade':'nomeCidade','Criação':'created_at','Alteração':'updated_at'}"
          :before-generate = adicionaCamposParaExportacaoXLS()>
          <el-button
            type="warning"
            :disabled = "!items.length"
            v-loading="loading"
            plain
            icon="el-icon-download"
            size="default">EXCEL
          </el-button>
        </export-excel>
      </el-col>
    </el-row>
    <el-table
      v-loading="loading"
      :data="items"
      border
      fit
      highlight-current-row
      style="width: 100%;"
    >
      <el-table-column
        v-for="field in fields"
        :key="field.slug"
        :label="field.label"
        :prop="field.slug"
        :sortable="field.slug != 'cidade_id'"

        align="center"
      >
        <template slot-scope="scope">
          <span>{{ field.slug == 'cidade_id' ? cidadeIdToCidadeNome(scope.row[field.slug]) : scope.row[field.slug] }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="Ações"
        align="center"
        width="200"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">editar</el-button>
          <el-button size="mini" plain type="danger" @click="handleDelete(scope.row)">remover</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'

const MODULE_NAME = 'sede'
const crudStore = crudHelper(MODULE_NAME)
const excelPage = ''

export default {
  props: ['fields'],
  computed: {
    ...crudStore.computed,
    ...mapGetters({
      cidades: `cidade/items`
    })
  },
  created() {
    this.findCidades()
    this.find()
    this.excelPage = 'sedes-page-' + new Date().getTime() + '.xls'
    // setTimeout(() => { this.find() }, 1500) //para carregar as cidades
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapActions({
      findCidades: `cidade/findUnpaginated`
    }),
    cidadeIdToCidadeNome(idCidade){
      return this.cidades.find(cidade => idCidade==cidade.id) ? this.cidades.find(cidade => idCidade==cidade.id).nome : ''
    },
    adicionaCamposParaExportacaoXLS(){
      if(this.items.length){
        for(var i=0; i<this.items.length; i++){
          this.cidades ? this.items[i].nomeCidade = this.cidades.find(cidade => this.items[i].cidade_id==cidade.id).nome : null
        }
      }
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import '~@/styles/list-table.scss';
</style>
