<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <!-- <sticky class-name="sub-navbar draft"> -->
      <!-- </sticky> -->

      <div class="createPost-main-container">
        <el-row :gutter="24">
          <el-col :span="9">
            <el-form-item label="Nome do País" prop="nome">
              <el-input v-model="item.nome" placeholder="Ex.: Brasil" maxlength="45" minlength="1"/>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="24">
          <el-col :span="6" >
            <el-form-item label="Código Internacional" prop="codigo">
              <el-input-number v-model="item.codigo" placeholder="Código País"/>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="Sigla do País" prop="reduzido">
              <el-input v-model="item.reduzido" placeholder="Ex.: BR" maxlength="2"/>
            </el-form-item>
          </el-col>
        </el-row>
		<el-row :gutter="24">
			<el-col>
				<el-button plain type="danger" @click="$router.go(-1)">Cancelar</el-button>
				<el-button
				v-loading="loading"
				style="margin-left: 10px;"
				type="success"
				@click="submit"
        :disabled="!item.nome.length"> Salvar
				</el-button>
			</el-col>
		</el-row>
      </div>
    </el-form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'

const MODULE_NAME = 'pais'
const crudStore = crudHelper(MODULE_NAME)

export default {
  name: 'Detail',
  data: () => ({
    MODULE_NAME,
    item: {
      nome: '',
      reduzido: '',
      codigo: ''
    },
    rules: {
      nome: [
        { required: true, min: 1, max: 45, message: 'Campo obrigatório. Máximo 45 dígitos.', trigger: 'blur' }
      ],
      reduzido: [
        { required: false, trigger: 'blur' }
      ],
      codigo: [
        { required: false, trigger: 'blur' }
      ]
    }
  }),
  computed: {
    ...crudStore.computed,
    ...mapGetters({
    })
  },
  created() {
    if (this.$route.params.id) {
      const id = this.$route.params.id
      this.select({ id })
        .then((item) => Object.assign(this.item, item))
        .catch(alert)
    }
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapActions({
    })
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import '~@/styles/mixin.scss';
@import '~@/styles/detail.scss';
</style>
