<template>
  <div>
    <el-button
      class="filter-item"
      style="margin-left: 0px; margin-bottom: 20px"
      type="success"
      icon="el-icon-edit"
      @click="$router.push(`new`)"
    >Novo</el-button>
    <el-table
      v-loading="loading"
      :data="items"
      border
      fit
      highlight-current-row
      style="width: 100%;"
    >
      <el-table-column
        v-for="field in fields"
        :key="field.slug"
        :label="field.label"
        :prop="field.slug"
        sortable
        align="center"
      >
        <template slot-scope="scope">
          <span>{{ field.slug == 'codigo' ? trimZeros(scope.row[field.slug]) : scope.row[field.slug] }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="Ações"
        align="center"
        width="200"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">editar</el-button>
          <el-button size="mini" plain type="danger" @click="handleDelete(scope.row)">remover</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'

const MODULE_NAME = 'pais'
const crudStore = crudHelper(MODULE_NAME)

export default {
  props: ['fields'],
  computed: {
    ...crudStore.computed
  },
  created() {
    this.find()
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    trimZeros(codigoPaisComZeros){
      return parseInt(codigoPaisComZeros, 10)
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import '~@/styles/list-table.scss';
</style>
