<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <!-- <sticky class-name="sub-navbar draft"> -->
      <!-- </sticky> -->

      <div class="createPost-main-container">
        <!-- <el-row :gutter="24">
          <el-col :span="24">
            <el-form-item label="Id" prop="id">
              <el-input v-model="item.id" placeholder="ID"/>
            </el-form-item>
          </el-col>
        </el-row> -->
        <el-row :gutter="24">
          <el-col :span="6">
            <el-form-item label="País" prop="pais_id">
              <el-select v-model="item.pais_id" placeholder="Selecionar">
                <el-option
                  v-for="item in paises"
                  :key="item.id"
                  :label="item.nome"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="24">
          <el-col :span="8">
            <el-form-item label="Nome do Estado" prop="nome">
              <el-input v-model="item.nome" placeholder="Ex.: Paraná" maxlength="20"/>
            </el-form-item>
          </el-col>
          <el-col :span="4">
            <el-form-item label="UF" prop="uf">
              <el-input :disabled="$router.currentRoute.name == 'uf_edit'" v-model="item.uf" maxlength="2" minlength="2" placeholder="UF Estado"/>
            </el-form-item>
          </el-col>
        </el-row>
		<el-row :gutter="24">
			<el-col>
				<el-button plain type="danger" @click="$router.go(-1)">Cancelar</el-button>
				<el-button
				v-loading="loading"
				style="margin-left: 10px;"
				type="success"
        :disabled="!item.pais_id || item.uf.length < 2"
				@click="submitUF"> Salvar
				</el-button>
			</el-col>
		</el-row>
      </div>
    </el-form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'

const MODULE_NAME = 'uf'
const crudStore = crudHelper(MODULE_NAME)

export default {
  name: 'Detail',
  data: () => ({
    MODULE_NAME,
    item: {
      uf: '',
      nome: '',
      pais_id: ''
    },
    rules: {
      uf: [
        { required: true, message: 'Campo obrigatório.', trigger: 'blur'}
      ],
      nome: [
        { required: false, message: 'Campo obrigatório', trigger: 'blur' }
      ],
      pais_id: [
        { required: true, message: 'Campo obrigatório', trigger: 'blur' }
      ]
    }
  }),
  computed: {
    ...crudStore.computed,
    ...mapGetters({
      paises: 'pais/items'
    })
  },
  created() {
    this.findPaises()
    if (this.$route.params.id) {
      const id = this.$route.params.id
      this.select({ id })
        .then((item) => Object.assign(this.item, item))
        .catch((alert))
    }
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapActions({
      findPaises: 'pais/find',
      upsertUF: 'uf/upsertUF'
    }),
    submitUF() {
      this.$refs['dataForm'].clearValidate()
      this.$refs['dataForm'].validate(valid => {
        if (valid) {
          this.upsertUF(this.item)
            .then(() => this.$router.go(-1))
            .catch((err) => this.$notify({ title: 'Ocorreu um erro', message: err.response ? err.response.data ? err.response.data.message ? err.response.data.message : err.response.data : err.response : err.message ? err.message : err, type: 'error', duration: 2000 }))
        } else {
          this.$notify({ title: 'Revise os campos', message: 'Erro na validacao', type: 'error', duration: 2000 })
        }
      })
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import '~@/styles/mixin.scss';
@import '~@/styles/detail.scss';
</style>
