<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <!-- <sticky class-name="sub-navbar draft"> -->
      <!-- </sticky> -->

      <div class="createPost-main-container">
        <!-- <el-row>
          <el-col :span="24">
            <el-form-item label="Id" prop="id">
              <el-input v-model="item.id" placeholder="ID"/>
            </el-form-item>
          </el-col>
        </el-row> -->
        <el-row>
          <el-col :span="8">
            <el-form-item label="ID" prop="id">
              <el-input v-model="item.id" disabled placeholder="UF Estado"/>
            </el-form-item>
          </el-col>
        </el-row>
        <el-col :span="16">
          <el-form-item label="Descricao" prop="descricao">
            <el-input v-model="item.descricao" placeholder="Descricao"/>
          </el-form-item>
        </el-col>
        <el-col :span="16">
          <el-form-item label="Status" prop="status">
            <el-input v-model="item.status" placeholder="Status"/>
          </el-form-item>
        </el-col>
		</el-row>
		<el-row :gutter="24">
			<el-col>
				<el-button plain type="danger" @click="$router.go(-1)">Cancelar</el-button>
				<el-button
				v-loading="loading"
				style="margin-left: 10px;"
				type="success"
				@click="submit"> Salvar
				</el-button>
			</el-col>
		</el-row>
      </div>
    </el-form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'

const MODULE_NAME = 'industria'
const crudStore = crudHelper(MODULE_NAME)

export default {
  name: 'Detail',
  data: () => ({
    MODULE_NAME,
    item: {
      descricao: '',
      status: ''
    },
    rules: {
      descricao: [
        { required: true, message: 'Campo obrigatório.', trigger: 'blur' }
      ],
      status: [
        { required: true, message: 'Campo obrigatório.', trigger: 'blur' }
      ]
    }
  }),
  computed: {
    ...crudStore.computed,
    ...mapGetters({
    })
  },
  created() {
    if (this.$route.params.id) {
      const id = this.$route.params.id
      this.select({ id })
        .then((item) => Object.assign(this.item, item))
        .catch(alert)
    }
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapActions({
    })
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import '~@/styles/mixin.scss';
@import '~@/styles/detail.scss';
</style>
