<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <!-- <sticky class-name="sub-navbar draft"> -->
      <!-- </sticky> -->

      <div class="createPost-main-container">
        <el-row :gutter="24">
          <el-col :span="6">
            <el-form-item label="Curso pertencente" prop="curso_id">
              <el-select v-model="item.curso_id" id="curso" placeholder="Selecione">
                <el-option
                  v-for="item in cursos"
                  :key="item.id"
                  :label="item.descricao"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="Nome do Conteúdo" prop="nome">
              <el-input v-model="item.nome" placeholder="Nome descritivo para o conteúdo" maxlength="1100" minlength="1"/>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="8">
            <el-form-item
              prop="dataVigenciaInicial"
              label="Data de Vigência Inicial:"
              class="postInfo-container-item"
            >
              <el-date-picker
                v-model="item.dataVigenciaInicial"
                type="date"
                format="dd-MM-yyyy"
                placeholder="Selecione a data inicial"
              />
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item
              label="Data de Vigência Final:"
              class="postInfo-container-item"
            >
              <el-date-picker
                v-model="item.dataVigenciaFinal"
                type="date"
                format="dd-MM-yyyy"
                placeholder="Selecione a data final"
              />
            </el-form-item>
          </el-col>
        </el-row>
		<el-row :gutter="24">
			<el-col>
				<el-button plain type="danger" @click="$router.go(-1)">Cancelar</el-button>
				<el-button
				v-loading="loading"
				style="margin-left: 10px;"
				type="success"
				@click="fixDateAndSubmit()"
        :disabled="!item.nome.length || !item.dataVigenciaInicial || !item.curso_id"> Salvar
				</el-button>
			</el-col>
		</el-row>
      </div>
    </el-form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'

const MODULE_NAME = 'conteudo'
const crudStore = crudHelper(MODULE_NAME)

export default {
  name: 'Detail',
  data: () => ({
    MODULE_NAME,
    item: {
      nome: '',
      dataVigenciaInicial: '',
      dataVigenciaFinal: '',
      curso_id: '',
      curso:{id:'',descricao:''}
    },
    rules: {
      nome: [
        { required: true, message: 'Campo obrigatório.', trigger: 'blur' }
      ],
      dataVigenciaInicial: [
        { required: true, message: 'Campo obrigatório', trigger: 'change' }
      ],
      curso_id: [
        { required: true, message: 'Campo obrigatório' }
      ]
    }
  }),
  computed: {
    ...crudStore.computed,
    ...mapGetters({
      cursos: `curso/items`
    })
  },
  created() {
    this.findCursos()
    if (this.$route.params.id) {
      const id = this.$route.params.id
      this.select({ id })
        .then((item) => Object.assign(this.item, item))
        .then((item) => this.cursos.find(curso => item.curso_id==curso.id) ? document.getElementById("curso").value = this.cursos.find(curso => item.curso_id==curso.id).descricao : '')
        .then((item) => {
          this.item.curso.descricao = document.getElementById("curso").value;
          this.item.curso.id = this.item.curso_id;
        })
        .then((item) => this.fixSelectValue())
        .catch(alert)
    }
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapActions({
      findCursos: `curso/findUnpaginated`
    }),
    fixDateAndSubmit(){
      let dataAux = new Date(this.item.dataVigenciaInicial)
      let dataFinalAux = this.item.dataVigenciaFinal ? new Date(this.item.dataVigenciaFinal) : null
      this.item.dataVigenciaInicial.getUTCHours() <= 0 ? this.item.dataVigenciaInicial.setDate(dataAux.getDate() - 1) : null
      dataFinalAux ? this.item.dataVigenciaFinal.getUTCHours() <= 0 ? this.item.dataVigenciaFinal.setDate(dataFinalAux.getDate() - 1) : null : null
      this.item.curso_id == this.item.curso.descricao ? this.item.curso_id = this.item.curso.id : null
      let mascaraSelect = this.item.curso.descricao
      delete this.item.curso
      this.submit()
      mascaraSelect.length ? setTimeout(() => { this.item.curso_id = mascaraSelect }, 100) : null
    },
    fixSelectValue(){
      typeof this.item.curso_id && this.item.curso_id == this.item.curso.id ? this.item.curso_id = this.item.curso.descricao : null
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import '~@/styles/mixin.scss';
@import '~@/styles/detail.scss';
</style>
