<template>
  <div>
    <el-row type="flex">
      <el-col :span="3">
        <el-button
          class="filter-item"
          style="margin-left: 0px; margin-bottom: 20px"
          type="success"
          icon="el-icon-edit"
          @click="$router.push(`new`)"
          >Novo
        </el-button>
      </el-col>
      <el-col :span="1"></el-col>
      <el-col :span="5">
        <export-excel
          :data   = "items"
          :fields = "{'ID':'id','Conteúdo':'nome','Data de Vigencia Inicial':'dataVigenciaInicial','Data de Vigencia Final':'dataVigenciaFinal','Área descricao':'area_descricao','Curso ID_Area':'curso_area_id','Curso descricao':'curso_descricao','Curso Data Vigencia Inicial':'curso_dataVigenciaInicial','Curso Data Vigencia Final':'curso_dateVigenciaFinal','Curso Criado em ':'curso_created_at','Curso Atualizado em':'curso_updated_at'}"
          :name = excelPage>
          <el-button
            type="warning"
            :disabled = "!items.length"
            v-loading="loading"
            plain
            icon="el-icon-download"
            size="default">EXCEL - PÁGINA
          </el-button>
        </export-excel>
      </el-col>
      <el-col :span="1"></el-col>
      <el-col :span="3">
        <export-excel
          :data = "conteudos"
          :fields = "{'ID':'id','Conteúdo':'nome','Data de Vigência Inicial':'dataVigenciaInicial','Data de Vigência Final':'dataVigenciaFinal','Criado em':'created_at','Atualizado em':'updated_at','ID_Area':'area_id','Area':'area_descricao','Area Status':'area_status','ID_Curso':'curso_id','Curso':'curso_descricao','Curso Data de Vigência Inicial':'curso_dataVigenciaInicial','Curso Data de Vigência Final':'curso_dateVigenciaFinal','Curso Criado em':'curso_created_at','Curso Atualizado em':'curso_updated_at'}"
          :name = excelAll>
          <el-button
            type="warning"
            v-loading="loadingXLS"
            plain
            icon="el-icon-download"
            size="default">EXCEL - TUDO
          </el-button>
        </export-excel>
      </el-col>
    </el-row>
    <el-row :gutter="24">
	    <el-col :span="8">
        <el-input
          v-model="query"
          placeholder="Pesquisar por conteúdo"
          class="filter-item"
          @keyup.enter.native="handleSearch"
        />
	    </el-col>
	  <el-col :span="6">
      <el-button
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleSearch"
      >Pesquisar</el-button>
	  </el-col>
    </el-row>
    <h3> Exibindo de {{ from ? from : 0 }} a {{ to ? to : 0 }} do total de {{ total }}</h3>
    <el-pagination
      :disabled="loading"
      :current-page="page"
      :page-size="15"
      :pager-count="11"
      :total="total"
      layout="prev, pager, next"
      @current-change="handlePageChange"/>
    <el-table
      v-loading="loading"
      :data="items"
      border
      fit
      highlight-current-row
      style="width: 100%;"
    >
      <el-table-column
        v-for="field in fields"
        :key="field.slug"
        :label="field.label"
        :prop="field.slug"
        :sortable="field.slug != 'curso_id'"
        align="center"
      >
        <template slot-scope="scope">
          <span>{{ (field.slug == 'dataVigenciaInicial' || field.slug == 'dataVigenciaFinal') ? dateToBRFormat(scope.row[field.slug]) : field.slug == 'curso_id' ? cursoIdToDescricao(scope.row[field.slug]) : scope.row[field.slug] }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="Ações"
        align="center"
        width="200"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">editar</el-button>
          <el-button size="mini" plain type="danger" @click="handleDeletePaginated(scope.row, 'Categoria')">remover</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      :disabled="loading"
      :current-page="page"
      :page-size="15"
      :pager-count="11"
      :total="total"
      layout="prev, pager, next"
      @current-change="handlePageChange"/>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'

const MODULE_NAME = 'conteudo'
const crudStore = crudHelper(MODULE_NAME)
const excelPage = ''
const excelAll = ''

export default {
  props: ['fields'],
  data() {
    return {
      page: 1,
      query: ''
    }
  },
  computed: {
    ...crudStore.computed,
    ...mapGetters({
      cursos: `curso/items`,
      conteudos: 'conteudo/conteudos'
    })
  },
  created() {
    this.findCursos()
    this.findPaginated({ page: this.page })
    this.findConteudos()
    this.excelPage = 'conteudo-page-' + new Date().getTime() + '.xls'
    this.excelAll = 'conteudo-all-' + new Date().getTime() + '.xls'
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapActions({
      findCursos: `curso/findUnpaginated`,
      findConteudos: 'conteudo/findUnpaginatedConteudo'
    }),
    handlePageChange(page) {
      this.page = page > 0  ? page : 1
      this.excelPage = 'conteudo-page-' + new Date().getTime() + '.xls'
      this.findPaginated({ page, nome: '%' + this.query.replace(/\s/g, '%') + '%' })
    },
    handleSearch() {
      this.page = 1
      this.excelPage = 'conteudo-page-' + new Date().getTime() + '.xls'
      this.findPaginated({ page: 1, nome: '%' + this.query.replace(/\s/g, '%') + '%' })
    },
    dateToBRFormat(raw){
      return raw ? new Date(raw.substr(5,2) + '/' + raw.substr(8,2) + '/' + raw.substr(0,4)) ? raw.substr(8,2) + '-' + raw.substr(5,2) + '-' + raw.substr(0,4) : raw : '';
      // return raw ? parseInt(raw.substr(0,4)) < 3000 ? raw.substr(8,2) + '-' + raw.substr(5,2) + '-' + raw.substr(0,4) : raw : '';
    },
    cursoIdToDescricao(idCurso){
      return this.cursos.find(curso => idCurso==curso.id) ? this.cursos.find(curso => idCurso==curso.id).descricao : ''
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import '~@/styles/list-table.scss';
</style>
