<template>
  <div class="app-container">
    <h3> {{ $route.meta.title }} </h3>
    <!-- <list-table :fields="['id', 'descricao', 'necessidade', 'status', 'numeroProfissionais', 'localCurso', 'industria_pessoa_id', 'totalValorAulas']"/> -->
    <!-- { label: 'atualizado em', slug: 'updated_at' }, -->
    <list-table
      :fields="[
        { label: 'Indústria', slug: 'nome' },
        { label: 'Contato', slug: 'contatoNome' },
        { label: 'Necessidade', slug: 'necessidade' },
        { label: 'Custo Aulas', slug: 'totalValorAulas' },
        { label: 'Custo Vídeos', slug: 'totalValorVideos' },
        { label: 'Criado em', slug: 'created_at' }		
      ]"
    />
  </div>
</template>

<script>
import ListTable from '../components/ListTable.vue'

export default {
  components: { ListTable }
}
</script>

