<template>
  <div class="app-container">
    <h3> {{ $route.meta.title }} </h3>
    <list-table :fields="[
  {
    label: 'Conteúdo',
    slug: 'nome'
  },
  /*{
    label: 'Curso',
    slug: 'curso_id'
  },*/
  {
    label: 'Curso',
    slug: 'curso_descricao'
  },
  {
    label: 'Área/Segmento',
    slug: 'area_descricao'
  },
  {
    label: 'Válido a partir de:',
    slug: 'dataVigenciaInicial'
  },
  {
    label: 'Válido até:',
    slug: 'dataVigenciaFinal'
  }
]"/>
  </div>
</template>

<script>
import ListTable from '../components/ListTable.vue'

export default {
  components: { ListTable }
}
</script>

