<template>
<el-col :span="8">
<label class="el-form-item__label">Indústria</label>
  <el-select
    v-model="selected"
    id='industria'
    :remote-method="remoteMethod"
    :loading="loading"
    @keyup.enter.native="onSubmit()"
    filterable
	  clearable
    remote
    reserve-keyword
    placeholder="Buscar Indústria"
    @change="$emit('change', selected)"
  >
    <el-option
      v-for="item in results"
      :key="item.pessoa_id"
      :label="item.nomeFantasia"
      :value="item.pessoa_id"
    />
  </el-select>
  </el-col>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import _ from 'lodash'

export default {
	props: ['field'],
  data() {
    return {
      selected: {},
      results: []
    }
  },
  computed: {
    ...mapGetters({
      loading: 'industria/loading'
    })
  },
  created(){
    this.remoteMethod = _.debounce(this.remoteMethod, 1000)
  },
  methods: {
    ...mapActions({
      search: 'industria/searchIndustria'
    }),
    remoteMethod(nome) {
      nome.length >= 5 && !this.loading ? this.search({ nome }).then((results) => { this.results = results }) : nome.length && !this.loading ? this.search({ nome }).then((results) => { this.results = results }) : this.results = [];
    },
    onSubmit(){      
      let nome = document.getElementById("industria").value
      nome.length ? this.search({ nome }).then((results) => { this.results = results }) :  this.results = [];
    }
  }
}
</script>

