<template>
<el-row>
  <el-row :gutter="24">
    <el-col :span="8">
      <label class="el-form-item__label">Data de criação</label>
      <el-date-picker @change="normalSearch" v-model="dates" value-format="MM-dd-yyyy" format="dd/MM/yyyy" type="daterange" start-placeholder="De" end-placeholder="Até"/>
    </el-col>
	  <!-- <el-col :span="4">
      <label class="el-form-item__label" style="opacity: 0; cursor: default;">Pesquisar</label>
      <el-button
      class="filter-item"
      type="primary"
      icon="el-icon-search"
      @click="normalSearch"
      >Pesquisar</el-button>
	  </el-col> -->
	</el-row>
  <el-row :gutter="24">
    <el-col :span="8" >
      <label class="el-form-item__label">Coordenador(a)</label>
        <el-select v-model="selectedManager" @change="handleCoordenadorChange" placeholder="Selecione" filterable clearable>
          <el-option
            v-for="item in coordenadores"
            :key="item.id"
            :label="item.nome"
            :value="item.id"
          />
        </el-select>
    </el-col>
    <el-col :span="8">
      <label class="el-form-item__label">Vendedor(a)</label>
        <el-select v-model="selectedVendor" @change="handleVendedorChange" placeholder="Selecione" filterable clearable>
          <el-option
            v-for="item in vendedores"
            :key="item.id"
            :label="item.nome"
            :value="item.id"
          />
        </el-select>
    </el-col>
    <industria-search @change="handleIndustriaChange"/>
  </el-row>
</el-row>
</template>

<script>
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'
import { getToken, getId } from '@/utils/auth'
import IndustriaSearch from './IndustriaSearch.vue'
import _ from 'lodash'
import { mapGetters, mapActions, mapMutations } from 'vuex'

const MODULE_NAME = 'pessoa'
const crudStore = crudHelper(MODULE_NAME)
const today = new Date()
const aMonthAgoAux = new Date()
const aMonthAgo = new Date(aMonthAgoAux.setMonth(aMonthAgoAux.getMonth()-1))
var firstFilter = null;

export default {
  components: { IndustriaSearch },
  props: ['fields'],

  data: () => ({
    dates: [aMonthAgo, today],
    query: '',
    field: '',
    industry: '',
    selectedVendor: getToken()==='vendor-token' ? {id: getId()} : '',
    selectedManager: getToken()==='manager-token' ? {id: getId()} : '',
    // dates: []
  }),
  computed: {
	  ...crudStore.computed,
	  ...mapGetters({
      vendedores: 'pessoa/vendedores',
      coordenadores: 'pessoa/coordenadores',
      vendedor: 'pessoa/vendedor',
      coordenador: 'pessoa/coordenador'
    }),
    vendedorGetSet: {
      get() {
        return this.vendedor
      },
      set(vendedor) {
        this.setVendedor(vendedor)
      }
    },
    coordenadorGetSet: {
      get() {
        return this.coordenador
      },
      set(coordenador) {
        this.setCoordenador(coordenador)
      }
    }
  },
  created() {
    this.findVendedores()
    this.findCoordenadores()
    // let today = new Date()
    // this.dates.push(new Date(today.getFullYear(), today.getMonth(), 1).toISOString())
    // this.dates.push(new Date(today.getFullYear(), today.getMonth() + 1, 0).toISOString())
  },
  methods: {
	  ...crudStore.actions,
    ...crudMixin.methods,
	  ...mapMutations({
      setVendedor: 'pessoa/SET_VENDEDOR',
      setCoordenador: 'pessoa/SET_COORDENADOR'
    }),
    ...mapActions({
      findVendedores: 'pessoa/findVendedores',
      findCoordenadores: 'pessoa/findCoordenadores'
    }),
    handleVendedorChange(){
      if(getToken()==='vendor-token'){
        this.selectedVendor = {}
        this.selectedVendor.id = getId()
      }
      this.normalSearch()
    },
    handleCoordenadorChange() {
      if(getToken()==='vendor-token'){
        this.selectedVendor = {}
        this.selectedVendor.id = getId()
        this.normalSearch()
      }else if(getToken()==='manager-token'){
        this.selectedManager = {}
        this.selectedManager.id = getId()
        this.selectedVendor = null
        this.findVendedores(this.selectedManager)
        this.normalSearch()
      }else if(getToken()==='admin-token'){
        this.selectedVendor = null
        this.findVendedores(this.selectedManager)
        this.normalSearch()
      }else{
        return false
      }
    },
    debouncedSearch() {
      _.debounce(this.normalSearch(), 500)
    },
    normalSearch() {
      const queryObject = {
//			[this.field]: this.query
      }
      if(getToken()==='vendor-token'){
        this.selectedVendor = {}
        this.selectedVendor.id = getId()
      }
      if(getToken()==='manager-token'){
        this.selectedManager = {}
        this.selectedManager.id = getId()
      }
      if (this.industry && this.industry != '') {
        queryObject.industry = this.industry
      }
      if (this.selectedManager && this.selectedManager != '') {
        queryObject.manager = this.selectedManager.id ? this.selectedManager.id : this.selectedManager
      }
      if (this.selectedVendor && this.selectedVendor != '') {
        queryObject.vendor = this.selectedVendor.id ? this.selectedVendor.id : this.selectedVendor
      }
    // console.log(queryObject.manager)
    // console.log(queryObject)
    // console.log(this.selectedManager)
    // console.log(this.selectedVendor)
    //2019-10-27T12:59:43.660Z //Date().toIsoString()
    //10/27/2019 //Date().toLocaleDateString()
    //10-27-2019 //Date().toLocaleDateString().replace(/\//g,'-')
    //10-24-2019 //selecionado pelo datepicker
    const tomorrow = new Date(today)
    tomorrow.setDate(tomorrow.getDate() + 1)
      queryObject.dateStart = this.dates ? typeof this.dates[0] === 'object' ? this.dates[0].toLocaleDateString().replace(/\//g,'-') : this.dates[0] : '01-01-1900';
      queryObject.dateLast = this.dates ? typeof this.dates[1] === 'object' ? this.dates[1].toLocaleDateString().replace(/\//g,'-') : this.dates[1] : tomorrow.toLocaleDateString().replace(/\//g,'-');
      //queryObject.dateLast = this.dates ? typeof this.dates[1] === 'object' ? this.dates[1].toLocaleDateString().replace(/\//g,'-') : this.dates[1] : today.toLocaleDateString().replace(/\//g,'-').substr(3,2) + '-' + today.toLocaleDateString().replace(/\//g,'-').substr(0,2) + '-' + today.toLocaleDateString().replace(/\//g,'-').substr(6,4);
      this.$emit('search', queryObject)
    },
    handleIndustriaChange(value) {
      this.industry = value
      this.normalSearch()
    }
  }
}
</script>

<style scoped>
	.el-row .el-row > * {
		margin-bottom: .6rem;
	}
</style>
