<template>
  <div>
    <el-row>
      <el-col :span="5">
        <export-excel
          :data   = "items"
          :fields = "{'ID':'id','Status':'status','Numero de Profissionais':'numeroProfissionais','Local do Curso':'localCurso','Necessidade':'necessidade','Insere Video':'insereVideo','Quantidade Total Videos':'totalQuantidadeVideos','Valor Total Videos':'totalValorVideos','Valor Total Aulas':'totalValorAulas','ID_VideoValor':'valorVideo_id','ID_VideoMinimoMaximo':'videoMinimoMaximo_id','ID_VideoQuantidadeMaxima':'videoQuantidadeMaxima_id','Industria_id':'industria_pessoa_id','Criado em':'created_at','Atualizado em':'updated_at','TotalCargaHoraria':'totalCargaHoraria','Nome Contato':'contatoNome','Fone Contato':'contatoFone','Email Contao':'contatoEmail'}"
          :name = excelPage>
          <el-button
            type="warning"
            :disabled = "!items.length"
            v-loading="loading"
            plain
            icon="el-icon-download"
            size="default">EXCEL {{token === 'admin-token' ? ' - PÁGINA' : null}}
          </el-button>
        </export-excel>
      </el-col>
      <el-col :span="1"></el-col>
      <el-col :span="4">
        <export-excel
          :data   = "propostas"
          :hidden="token !='admin-token'"
          :fields = "{'ID':'id','Status':'status','Numero de Profissionais':'numeroProfissionais','Local do Curso':'localCurso','Necessidade':'necessidade','Insere Video':'insereVideo','Quantidade Total Videos':'totalQuantidadeVideos','Valor Total Videos':'totalValorVideos','Valor Total Aulas':'totalValorAulas','ID_VideoValor':'valorVideo_id','ID_VideoMinimoMaximo':'videoMinimoMaximo_id','ID_VideoQuantidadeMaxima':'videoQuantidadeMaxima_id','Industria_id':'industria_pessoa_id','Criado em':'created_at','Atualizado em':'updated_at','TotalCargaHoraria':'totalCargaHoraria','Nome Contato':'contatoNome','Fone Contato':'contatoFone','Email Contao':'contatoEmail'}"
          :name = excelAll>
          <el-button
            type="warning"
            plain
            icon="el-icon-download"
            v-loading="loadingXLS"
            size="default">EXCEL - TUDO
          </el-button>
        </export-excel>
      </el-col>
    </el-row> <br><br><br>
    <search @search="handleSearch"/>
    <el-row>
      <el-col>
        <h3 :hidden="loading"> Exibindo de {{ from ? from : 0 }} a {{ to ? to : 0 }} do total de {{ total ? total : 0}}</h3>
        <el-pagination
          :disabled="loading"
          :current-page="page"
          :page-size="6"
          :pager-count="8"
          :total="total ? total : 1"
          layout="prev, pager, next"
          @current-change="handlePageChange"/>
      </el-col>
    </el-row>
    <el-table
      v-loading="loading"
      :data="items"
      border
      fit
      highlight-current-row
      style="width: 100%; margin-top: 1.8rem;">
      <el-table-column
        v-for="field in fields"
        :key="field.slug"
        :label="field.label"
        :prop="field.slug"
        sortable
        align="center"
      >
        <template slot-scope="scope">
          <span>{{ field.slug == 'totalValorAulas' ? 'R$' + parseFloat(scope.row[field.slug]).toFixed(2).replace('.',',') : field.slug == 'totalValorVideos' ? 'R$' + parseFloat(scope.row[field.slug]).toFixed(2).replace('.',',') : field.slug == 'created_at' ? dateToBRFormat(scope.row[field.slug]) : (field.slug == 'necessidade' && scope.row[field.slug].length > 100) ? (scope.row[field.slug].substring(0,100) + '...') : scope.row[field.slug] }}</span>
          <!-- (scope.row[field.slug].substr(8,2) + '-' + scope.row[field.slug].substr(5,2) + '-' + scope.row[field.slug].substr(0,4))? -->
        </template>
      </el-table-column>
      <el-table-column
        label="Ações"
        align="center"
        width="120"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            type="primary"
            plain
            v-loading="loading"
            icon="el-icon-download"
            size="mini"
            @click="generatePdf(scope.row)">PDF
          </el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'
import Search from '@/modules/_common/components/Search.vue'
import { mapActions, mapGetters } from 'vuex'
import axios from 'axios'
import store from '@/store'
import { getId, getToken } from '@/utils/auth'

const MODULE_NAME = 'proposta'
const crudStore = crudHelper(MODULE_NAME)
var token = ''
var excelPage = ''
var excelAll = ''

export default {
  components: { Search },
  props: ['fields'],
  data() {
    return {
      data: [],
      page: 1,
      parametros: {}
      }
  },
  computed: {
    ...crudStore.computed,
	  ...mapGetters({
		items: 'proposta/items',
		propostas: 'proposta/propostas'
	}),
	api(){
		return `${process.env.BASE_API}/${MODULE_NAME}`
	}
  },
  created() {
    this.token = getToken()
    this.token === 'vendor-token' ? this.parametros.vendor = getId() : null;
    this.token === 'manager-token' ? this.parametros.manager = getId() : null;
    this.parametros.page = 1;
    this.token === 'admin-token' ? (this.excelAll = ('proposta-admin-' + new Date().getTime() + '.xls')) : null
    this.excelPage = 'proposta-page-' + new Date().getTime() + '.xls'
    // this.findPaginated({ page: this.page, filtroCoordenadoresAtivo: this.filtroCoordenadoresAtivo, filtroVendedoresAtivo: this.filtroVendedoresAtivo, coordenador: this.coordenadorID.id ? this.coordenadorID.id : this.coordenadorID, vendedor: this.vendedorID.id ? this.vendedorID.id : this.vendedorID})
    this.paramsProposta(this.parametros)
    this.getTodasPropostas()
    // getToken() === 'admin-token' ? this.getTodasPropostas() : null
  },
  methods: {
	  ...crudStore.actions,
    ...crudMixin.methods,
	  ...mapActions({
      getTodasPropostas: `proposta/findUnpaginatedProposta`
    }),
    handleSearch(query) {
      this.parametros.page = 1;
      query.dateStart ? this.parametros.dateStart = query.dateStart : null
      query.dateLast ? this.parametros.dateLast = query.dateLast : null
      query.vendor ? this.parametros.vendor = query.vendor : null
      query.manager ? this.parametros.manager = query.manager : null
      this.token === 'admin-token' ? (this.excelAll = ('proposta-admin-' + new Date().getTime() + '.xls')) : null
      this.excelPage = 'proposta-page-' + new Date().getTime() + '.xls'
      this.paramsProposta(this.parametros)
    },
	  generatePdf(item) {
      let id = item.id ? item.id : item
      let apiUrl = this.api
      let url = `${apiUrl}-admin/export-pdf/${id}`
      window.open(url)
      // axios.get(url)
      // .then(window.open(url))

      // axios.get(url)
      // .then((response) => {
      //   return response
      // })
    },
    handlePageChange(page) {
      this.parametros.page = page
      this.token === 'admin-token' ? (this.excelAll = ('proposta-admin-' + new Date().getTime() + '.xls')) : null
      this.excelPage = 'proposta-page-' + new Date().getTime() + '.xls'
      this.paramsProposta(this.parametros)
    },
    dateToBRFormat(raw){
      return raw ? new Date(raw.substr(5,2) + '/' + raw.substr(8,2) + '/' + raw.substr(0,4)) ? raw.substr(8,2) + '-' + raw.substr(5,2) + '-' + raw.substr(0,4) : raw : '';
      // return raw ? parseInt(raw.substr(0,4)) < 3000 ? raw.substr(8,2) + '-' + raw.substr(5,2) + '-' + raw.substr(0,4) : raw : '';
    }
  }
}
</script>


<style rel="stylesheet/scss" lang="scss" scoped>
@import '~@/styles/list-table.scss';
</style>
