<template>
  <div>
    <search @search="handleSearch"/>
    <el-table
      v-loading="loading"
      :data="items"
      border
      fit
      highlight-current-row
      style="width: 100%; margin-top: 1.8rem;"
    >
      <el-table-column
        v-for="field in fields"
        :key="field.slug"
        :label="field.label"
        :prop="field.slug"
        sortable
        align="center"
      >
        <template slot-scope="scope">
          <span>{{ field.slug == 'totalValorAulas' ? 'R$' + parseFloat(scope.row[field.slug]).toFixed(2).replace('.',',') : field.slug == 'totalValorVideos' ? 'R$' + parseFloat(scope.row[field.slug]).toFixed(2).replace('.',',') : field.slug == 'created_at' ? dateToBRFormat(scope.row[field.slug]) : scope.row[field.slug] }}</span>
          <!-- (scope.row[field.slug].substr(8,2) + '-' + scope.row[field.slug].substr(5,2) + '-' + scope.row[field.slug].substr(0,4))? -->
        </template>
      </el-table-column>
      <el-table-column
        label="Ações"
        align="center"
        width="120"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            type="primary"
            plain
            v-loading="loading"
            icon="el-icon-download"
            size="mini"
            @click="generatePdf(scope.row)">PDF
          </el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'
import Search from '@/modules/_common/components/Search.vue'
import { mapActions, mapGetters } from 'vuex'
import axios from 'axios'
import store from '@/store'
import { getId, getToken } from '@/utils/auth'

const MODULE_NAME = 'proposta'
const crudStore = crudHelper(MODULE_NAME)

export default {
  components: { Search },
  props: ['fields'],
  computed: {
    ...crudStore.computed,
	...mapGetters({
		items: 'proposta/items'
	}),
	api(){
		return `${process.env.BASE_API}/${MODULE_NAME}`
	}
  },
  created() {
    const params = {}
    getToken() === 'vendor-token' ? params.vendor = getId() : null;
    getToken() === 'manager-token' ? params.manager = getId() : null;
    this.params(params)
  },
  methods: {
	  ...crudStore.actions,
    ...crudMixin.methods,
	  ...mapActions({}),
    handleSearch(query) {
     	this.params(query)
    },
	  generatePdf(item) {
      let id = item.id ? item.id : item
      let apiUrl = this.api
      let url = `${apiUrl}-admin/export-pdf/${id}`
      window.open(url)
      // axios.get(url)
      // .then(window.open(url))

      // axios.get(url)
      // .then((response) => {
      //   return response
      // })
    },

    dateToBRFormat(raw){
      return raw ? new Date(raw.substr(5,2) + '/' + raw.substr(8,2) + '/' + raw.substr(0,4)) ? raw.substr(8,2) + '-' + raw.substr(5,2) + '-' + raw.substr(0,4) : raw : '';
      // return raw ? parseInt(raw.substr(0,4)) < 3000 ? raw.substr(8,2) + '-' + raw.substr(5,2) + '-' + raw.substr(0,4) : raw : '';
    }
  }
}
</script>


<style rel="stylesheet/scss" lang="scss" scoped>
@import '~@/styles/list-table.scss';
</style>
