<template>
  <div class="app-container">
    <h3>{{ $route.meta.title }}</h3>
    <list-table :fields="[
  {
    label: 'Micro Região',
    slug: 'nome'
  },
  {
    label: 'Região',
    slug: 'regiao_id'
  },
  {
    label: 'Sede',
    slug: 'cidade_id'
  }
]"/>
  </div>
</template>

<script>
import ListTable from '../components/ListTable.vue'

export default {
  components: { ListTable }
}
</script>

