<template>
  <div class="app-container">
    <h3>{{ $route.meta.title }}</h3>
    <list-table :fields="[
      { label: 'Sede', slug: 'nome' },
      { label: 'Cidade', slug: 'cidade_id' }
    ]"/>
  </div>
</template>

<script>
import ListTable from '../components/ListTable.vue'

export default {
  components: { ListTable }
}
</script>

