<template>
  <div class="app-container">
    <h3> {{ $route.meta.title }} </h3>
    <list-table :fields="[
      { label: 'Estado', slug: 'nome' },
      { label: 'UF', slug: 'uf' },
      { label: 'País', slug: 'pais_id' }
    ]"/>
  </div>
</template>

<script>
import ListTable from '../components/ListTable.vue'

export default {
  components: { ListTable }
}
</script>

